# Configuration file

aerometer {
    # Defines durability of the item. [range: 0 ~ 65535, default: 4]
    I:durability=4

    # Set to 'false' if you don't need this unit. [default: true]
    B:enabled=true

    # Defines anvil repair materials.
    # You can define several materials by separating them with commas (e.g.: minecraft:leather, #wool) [default: paneGlass]
    S:repair=paneGlass

    # If true, repair cost will grow for this item after each repair using an anvil. [default: false]
    B:repairCostGrow=false

    CraftingRecipe {

        main {
            # Amount of output units. [range: 1 ~ 64, default: 1]
            I:amount=1

            # Recipe components list.
            # Components should be represented by its ids.
            # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
            # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
            # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
            # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
            # Use '*' char as meta value to specify all possible values.
            # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
            # Also you may use just ore dictionary name as full id.
            #  [default: [repeater], [logWood], [compass], [comparator], [stick], [paneGlass]]
            S:components <
                repeater
                logWood
                compass
                comparator
                stick
                paneGlass
             >

            # Output unit id.
            # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
            # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
            # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
            # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
            # Use '*' char as meta value to specify all possible values.
            # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
            # Also you may use just ore dictionary name as full id.
            #  [default: adpother:aerometer]
            S:output=adpother:aerometer

            # Shaped recipe pattern in format <nn nn> or <nnn nnn nnn>.
            # Where 'n' - number of recipe component (from 1 to 9).
            # Zero value (0) is for empty slot.
            # If pattern is empty, then recipe will be treated as shapeless. [default: 161 232 454]
            S:pattern=161 232 454
        }

    }

}


