# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        betternether:stalagnate_planks_gate
        betternether:stalagnate_planks_button
        betternether:stalagnate_planks_plate
        betternether:reeds_gate
        betternether:reeds_button
        betternether:reeds_plate
        betternether:cincinnasite_button
        betternether:bone_button
        betternether:bone_plate
        betternether:bone_reed_door
        betternether:bone_cincinnasite_door
        rustic:fence_gate_olive
        rustic:fence_gate_ironwood
        rustic:olive_door
        rustic:ironwood_door
        twilightforest:twilight_oak_button
        twilightforest:twilight_oak_door
        twilightforest:twilight_oak_gate
        twilightforest:twilight_oak_plate
        twilightforest:canopy_button
        twilightforest:canopy_door
        twilightforest:canopy_gate
        twilightforest:canopy_plate
        twilightforest:mangrove_button
        twilightforest:mangrove_door
        twilightforest:mangrove_gate
        twilightforest:mangrove_plate
        twilightforest:dark_button
        twilightforest:dark_door
        twilightforest:dark_gate
        twilightforest:dark_plate
        twilightforest:time_button
        twilightforest:time_door
        twilightforest:time_gate
        twilightforest:time_plate
        twilightforest:trans_button
        twilightforest:trans_door
        twilightforest:trans_gate
        twilightforest:trans_plate
        twilightforest:mine_button
        twilightforest:mine_door
        twilightforest:mine_gate
        twilightforest:mine_plate
        twilightforest:sort_button
        twilightforest:sort_door
        twilightforest:sort_gate
        twilightforest:sort_plate
        betterwithmods:detector_rail_steel
        betterwithmods:detector_rail_stone
        betterwithmods:booster
        betterwithmods:steel_pressure_plate
        quark:nether_brick_fence_gate
        quark:spruce_pressure_plate
        quark:birch_pressure_plate
        quark:jungle_pressure_plate
        quark:acacia_pressure_plate
        quark:dark_oak_pressure_plate
        quark:spruce_button
        quark:birch_button
        quark:jungle_button
        quark:acacia_button
        quark:dark_oak_button
        quark:redstone_randomizer
        quark:iron_button
        quark:gold_button
        quark:redstone_inductor
        quark:obsidian_pressure_plate
        dungeontactics:fan_block
        dungeontactics:flamer_block
        netherex:quartz_fence_gate
        netherex:nether_brick_fence_gate
        netherex:red_nether_brick_fence_gate
        netherex:gloomy_nether_brick_fence_gate
        netherex:lively_nether_brick_fence_gate
        netherex:fiery_nether_brick_fence_gate
        netherex:icy_nether_brick_fence_gate
        netherex:basalt_fence_gate
        netherex:smooth_basalt_fence_gate
        netherex:basalt_brick_fence_gate
        netherex:basalt_pillar_fence_gate
        pyrotech:refractory_door
        pyrotech:stone_door
        aether_legacy:enchanter
        aether_legacy:freezer
        aether_legacy:incubator
        aether_legacy:skyroot_fence_gate
        aether_legacy:aether_lever
        aether_legacy:holystone_pressure_plate
        aether_legacy:skyroot_pressure_plate
        aether_legacy:zanite_pressure_plate
        aether_legacy:holystone_button
        aether_legacy:skyroot_button
        aether_legacy:skyroot_door
        aether_legacy:zanite_door
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:target
        cyclicmagic:password_block
        davincisvessels:crate_wood
        undergroundbiomes:igneous_stone_button_down
        undergroundbiomes:igneous_stone_button_up
        undergroundbiomes:igneous_stone_button_north
        undergroundbiomes:igneous_stone_button_south
        undergroundbiomes:igneous_stone_button_west
        undergroundbiomes:igneous_stone_button_east
        undergroundbiomes:metamorphic_stone_button_down
        undergroundbiomes:metamorphic_stone_button_up
        undergroundbiomes:metamorphic_stone_button_north
        undergroundbiomes:metamorphic_stone_button_south
        undergroundbiomes:metamorphic_stone_button_west
        undergroundbiomes:metamorphic_stone_button_east
        undergroundbiomes:sedimentary_stone_button_down
        undergroundbiomes:sedimentary_stone_button_up
        undergroundbiomes:sedimentary_stone_button_north
        undergroundbiomes:sedimentary_stone_button_south
        undergroundbiomes:sedimentary_stone_button_west
        undergroundbiomes:sedimentary_stone_button_east
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


