# Configuration file

general {
    # If true, allows qualities on stackable items. Could behave weirdly. [default: false]
    B:"allow stackable items"=false

    # If true, the config files will still load if there are items in them that don't exist (could
    # be useful if you want to add modded items that may not be present). [default: false]
    B:"ignore unknown items"=false

    # If true, allows you to use repair items to reforge tools (like iron ingots with an iron sword). [default: true]
    B:"use repair item"=true
}


