
.curseclient
minecraftinstance.json
crafttweaker.log
options.txt
optionsof.txt
config/Embassy/AMLocation.txt
knownkeys.txt
.mixin.out/
llibrary/debug/
ActualMusic.zones
config/jei/worldSettings.cfg
usercache.json
usernamecache.json
config/splash.properties
mods/OptiFine_1.12.2_HD_U_F4.jar
config/splash.properties
config/BiomeTweaker/output/
config/netherex/biomes/
logs/
llibrary/debug/
config/multimob/modInformation/
ActualMusic/Config/config.tsv
saves/
config/biomesoplenty/biomes/defaults/
screenshots/
crash-reports/
servers.dat
