.curseclient
minecraftinstance.json
crafttweaker.log
knownkeys.txt
.mixin.out/
llibrary/debug/
config/jei/worldSettings.cfg
usercache.json
usernamecache.json
config/splash.properties

config/BiomeTweaker/output/
config/netherex/biomes/
logs/

saves/
config/biomesoplenty/biomes/defaults/
screenshots/
crash-reports/
servers.dat
shaderpacks/Sildurs Enhanced Default *.zip
modlist.html
manifest.json
/options.txt
/optionsof.txt
/optionsshaders.txt
config/TwitchSpawn/

config/pyrotech/*-Generated.json
patchouli_data.json

.DS_Store
desktop.ini
mountains.txt
config/ultimate_unicorn_download/*.txt
.gamelaunched
shaderpacks/SEUS*.zip
shaderpacks/BBVanillaReborn_*.zip
mods/twitchspawn_1.12.2-*.jar
icon.png
config/codechicken/supporters.marker
backups/

config/qualitytools/problems.txt

local/ftbutilities/backups.json

local/ftbutilities/uploaded_crash_reports/

shaderpacks/BBVanillaReborn_V1.0.2.zip.txt
dropt.log

resources/resourcepacks/Better Rebirth 1.12.2/assets/malisisdoors/textures/16xtextures/
/config/fantasticlib/reference/
/config/multimob/modInformation/
config/InvTweaks.cfg
config/customloadingscreen_timings.nbt

README.md

.idea
.project
.settings
.vscode

mods/Caliper*.jar
mods/effortlessbuilding*.jar
mods/filenames.txt
mods/horseinfo-*.jar
mods/JustEnoughResources*.jar
mods/LoadingProfiler*.jar
mods/Mapmaker's+Gadgets*.jar
mods/Mineshot*.jar
mods/sampler-*.jar
mods/spark-forge*.jar
mods/tellme*.jar
mods/world_generation_profiler*.jar
mods/World-Stripper*.jar
mods/NoAISpawnEggs-*.jar
config/activity.json
config/loadingprofiler.cfg
config/mineshot.cfg
config/tellme.cfg
config/worldgeneration_profiler.cfg
config/worldstripper.cfg
loading-log.log

stall-reports/

*.nps

/asm_dump*

.ReAuth.cfg
config/acronym/saved/
config/antiqueatlas/markers.json
config/cavegenerator/REFERENCE.cave
config/cavegenerator/TUTORIAL.cave
config/deadmanssatchel/DIM#.example.json
config/growthcraft/*/*.default
mods/memory_repo/
mods/OptiFine*
mods/Sound-Physics*
mods/1.12.2/Guidebook-1.12.2-2.9.1.s5.jar

config/requious/battery.json
config/requious/fluid_cell.json
config/requious/fluid_emitter.json
config/requious/red_emitter.json
config/jeresources/jeresources.cfg

resourcepacks/Modernity-format*
mods/Essential.jar
/essential/
mods/replaymod-1.12-2.6.5.jar
_ModpackUploader/secrets.ps1
config/mod-director/file-director_requisites.bundle.json
ears-debug.log
/fancymenu_data/
