# Configuration file

general {
    # Enable area wood chopping tools. [default: true]
    B:enableCarpenterAxes=true

    # Enable area digging tools. [default: true]
    B:enableExcavators=true

    # Enable area mining tools. [default: true]
    B:enableHammers=true

    # Enable ore scanning tools. [default: true]
    B:enableProspectingPicks=true

    # Generate default recipes for tools. [default: true]
    B:generateRecipes=true

    # Loads all default tool json files. This config option will default to "false" after load is complete.
    # 	WARNING: This option will delete and reload all tool config files. Be sure to backup any files you wish to save. [default: false]
    B:loadDefaults=false

    # Enables robust logging. Used to debug tool json files. [default: false]
    B:robustLogging=false
}


prospecting_settings {
    # Enables Game Stages support. Prospected staged ores will be hidden or have their names obscured if the player does not have the correct game stage. [default: true]
    B:enableGameStageSupport=true

    # Enables the sound effect when prospecting. [default: true]
    B:enableProspectingSound=true

    # Blacklisted ores that will not be detected by Prospecting Picks. Additional ores can be blacklisted on a per-tool basis using the individual tool json.
    # Format:
    # 	ore=oreIron
    # 	type=ore
    # 	block=minecraft:iron_ore
    # 	block=minecraft:iron_ore:0
    #  [default: ]
    S:oreBlacklist <
     >

    # Additional ores that will be detected by Prospecting Picks. Additional ores can be whitelisted on a per-tool basis using the individual tool json.
    # Format:
    # 	ore=oreIron
    # 	type=ore
    # 	block=minecraft:iron_ore
    # 	block=minecraft:iron_ore:0
    #  [default: [type=ore]]
    S:oreWhitelist <
        type=ore
		block=contenttweaker:raw_wrought_iron
		block=pyrotech:dense_redstone_ore_rocks_inactive
		block=contenttweaker:raw_viridium_vein
		block=osv:simpleores_onyx_ore_contenttweaker_ardicite
     >

    # The maximum number of ore blocks (as a percentage of nearby stone) that can qualify as a large sample. [range: 1 ~ 100, default: 24]
    I:veinLarge=24

    # The maximum number of ore blocks (as a percentage of nearby stone) that can qualify as a medium sample. [range: 1 ~ 100, default: 16]
    I:veinMedium=16

    # The maximum number of ore blocks (as a percentage of nearby stone) that can qualify as a small sample. [range: 1 ~ 100, default: 10]
    I:veinSmall=10

    # The maximum number of ore blocks (as a percentage of nearby stone) that can qualify as a trace amount. [range: 1 ~ 100, default: 4]
    I:veinTrace=4
}


