# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:automation
# -- tunnel bore, maintenance carts, feed station, trade station, detectors
# 
# items/blocks/entities/etc added by this module:
# --  detector
# --  manipulator
# --  equipment
# --  trade_station
# --  force_track_emitter
# --  track_force
# --  filter_blank
# --  filter_type
# --  filter_ore_dict
# --  bore
# --  borehead_bronze
# --  borehead_iron
# --  borehead_steel
# --  borehead_diamond
# --  mow_track_layer
# --  mow_track_relayer
# --  mow_track_remover
# --  mow_undercutter
# --  cart_trade_station
# 
##########################################################################################################

module {
    # Whether the railcraft:automation module is loaded or not
    B:enabled=true
}


