# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:building
# -- glass, posts, bricks, stairs, slabs, lanterns, walls
# 
# items/blocks/entities/etc added by this module:
# --  abyssal
# --  bleachedbone
# --  bloodstained
# --  frostbound
# --  infernal
# --  jaded
# --  quarried
# --  sandy
# --  badlands
# --  nether
# --  red_nether
# --  andesite
# --  diorite
# --  granite
# --  pearlized
# --  concrete
# --  glass
# --  generic
# --  creosote_block
# --  creosote_stairs
# --  creosote_double_slab
# --  creosote_slab
# --  reinforced_concrete
# --  post_metal
# --  post_metal_platform
# --  abyssal_brick_stairs
# --  bleachedbone_brick_stairs
# --  bloodstained_brick_stairs
# --  frostbound_brick_stairs
# --  infernal_brick_stairs
# --  jaded_brick_stairs
# --  pearlized_brick_stairs
# --  quarried_brick_stairs
# --  badlands_brick_stairs
# --  sandy_brick_stairs
# --  abyssal_paver_stairs
# --  bleachedbone_paver_stairs
# --  bloodstained_paver_stairs
# --  frostbound_paver_stairs
# --  infernal_paver_stairs
# --  jaded_paver_stairs
# --  pearlized_paver_stairs
# --  quarried_paver_stairs
# --  badlands_paver_stairs
# --  sandy_paver_stairs
# --  abyssal_double_slab
# --  abyssal_slab
# --  badlands_double_slab
# --  badlands_slab
# --  bleachedbone_double_slab
# --  bleachedbone_slab
# --  bloodstained_double_slab
# --  bloodstained_slab
# --  frostbound_double_slab
# --  frostbound_slab
# --  infernal_double_slab
# --  infernal_slab
# --  jaded_double_slab
# --  jaded_slab
# --  pearlized_double_slab
# --  pearlized_slab
# --  quarried_double_slab
# --  quarried_slab
# --  sandy_double_slab
# --  sandy_slab
# 
##########################################################################################################

module {
    # Whether the railcraft:building module is loaded or not
    B:enabled=true
}


