# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:charge
# -- all things charge
# 
# items/blocks/entities/etc added by this module:
# --  battery_nickel_iron
# --  battery_nickel_zinc
# --  battery_zinc_carbon
# --  battery_zinc_carbon_empty
# --  battery_zinc_silver
# --  battery_zinc_silver_empty
# --  charge_feeder
# --  charge_trap
# --  frame
# --  steam_turbine
# --  wire
# --  charge
# --  tool_charge_meter
# --  turbine_blade
# --  turbine_disk
# --  turbine_rotor
# 
##########################################################################################################

module {
    # Whether the railcraft:charge module is loaded or not
    B:enabled=true

    config {
        # adjust the losses for the Charge network [range: 0.2 ~ 10.0, default: 1.0]
        S:lossMultiplier=1.0

        # change to 'true' to enabled Charge Network debug spam [default: false]
        B:printDebug=false
    }

}


