# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:factory
# -- coke oven, blast furnace, rolling machine, rock crusher, etc...
# 
# items/blocks/entities/etc added by this module:
# --  anvil
# --  equipment
# --  fuel_coke
# --  coke_block
# --  coke_oven
# --  coke_oven_red
# --  blast_furnace
# --  rock_crusher
# --  steam_oven
# --  chest_metals
# --  cart_chest_metals
# 
##########################################################################################################

module {
    # Whether the railcraft:factory module is loaded or not
    B:enabled=true
}


