# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:forestry
# -- forestry integration
# 
# items/blocks/entities/etc added by this module:
# --  filter_bee
# --  filter_bee_genome
# --  backpack_apothecary_t1
# --  backpack_apothecary_t2
# --  backpack_iceman_t1
# --  backpack_iceman_t2
# --  backpack_trackman_t1
# --  backpack_trackman_t2
# --  backpack_signalman_t1
# --  backpack_signalman_t2
# 
##########################################################################################################

module {
    # Whether the railcraft:forestry module is loaded or not
    B:enabled=true
}


