# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:magic
# -- firestone, waterstone, icestone
# 
# items/blocks/entities/etc added by this module:
# --  firestone_cracked
# --  firestone_cut
# --  firestone_raw
# --  firestone_refined
# --  ritual
# --  creosote
# --  creosote
# --  long_creosote
# --  strong_creosote
# 
##########################################################################################################

module {
    # Whether the railcraft:magic module is loaded or not
    B:enabled=true
}


