# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:signals
# -- signals, signal boxes
# 
# items/blocks/entities/etc added by this module:
# --  signal
# --  signal_dual
# --  signal_box
# --  tool_signal_surveyor
# --  tool_signal_tuner
# --  signal_lamp
# --  tool_signal_label
# --  circuit
# 
##########################################################################################################

module {
    # Whether the railcraft:signals module is loaded or not
    B:enabled=true

    config {
        # change to 'true' to log debug info for Signal Blocks [default: false]
        B:printDebug=false

        # measured in ticks, smaller numbers update more often, resulting in more sensitive signals, but cost more cpu power [range: 1 ~ 64, default: 4]
        I:updateInterval=4
    }

}


