# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:tracks|strap_iron
# -- strap iron tracks
# 
# items/blocks/entities/etc added by this module:
# --  track_flex_strap_iron
# 
##########################################################################################################

module {
    # Whether the railcraft:tracks|strap_iron module is loaded or not
    B:enabled=true

    config {
        # change to limit max speed on strap iron rails
        # iron tracks operate at 0.4 blocks per tick [range: 0.1 ~ 0.3, default: 0.12]
        S:maxSpeed=0.12
    }

}


