# Configuration file

##########################################################################################################
# module
#--------------------------------------------------------------------------------------------------------#
# Disabling these Modules can greatly change how the mod functions.
# For example, disabling the Train Module will prevent you from linking carts.
# Disabling the Locomotive Module will remove the extra drag added to Trains.
# Disabling the World Module will disable all world gen.
# 
# Railcraft will attempt to compensate for disabled Modules on a best effort basis.
# It will define alternate recipes and crafting paths, but the system is far from flawless.
# Unexpected behavior, bugs, or crashes may occur. Please report any issues so they can be fixed.
# 
# 
# railcraft:tracks
# -- track kits, outfitted track
# 
# items/blocks/entities/etc added by this module:
# --  track_kit
# --  tool_spike_maul_iron
# --  tool_spike_maul_steel
# --  railbed
# --  track_parts
# --  actuator
# --  track_outfitted
# --  activator
# --  booster
# --  buffer
# --  control
# --  detector
# --  disembarking
# --  dumping
# --  embarking
# --  gated
# --  locking
# --  one_way
# --  junction
# --  turnout
# --  wye
# --  messenger
# --  delayed
# 
##########################################################################################################

module {
    # Whether the railcraft:tracks module is loaded or not
    B:enabled=true
}


