# Configuration file

Client {
    # Defines whether the smog should color the sky. [default: true]
    B:colorSky=true

    # Defines whether the smog from pollution should be rendered for the player. [default: true]
    B:renderSmog=true
}


Server {
    # Experience gain after replacing the filter material in a respirator or a vacuum bag.
    I:filterReplacingExpGain=0

    # Global rate of emissions for all pollutants and sources on the server (in percents).
    I:globalEmissionRate=0

    # List of entities immune to all pollutants.
    # Format: entityId [, immunityPercentage%]
    # Example: minecraft:zombie_pigman, 99%
    # Gives complete immunity if the percentage omitted. [default: ]
    S:immuneEntities <
     >

    # Maximum gas blocks that can be involved in an explosive chain reaction.
    I:maxExplosionChainLength=512

    "Emission Sources" {
        # Enables / disables emissions from this source. [default: true]
        B:AnimalDeath=true

        # Enables / disables emissions from this source. [default: true]
        B:AnimalFeeding=true

        # Defines the rate of emissions from this source (in percents).
        I:Breakables=100

        # Defines the rate of emissions from this source (in percents).
        I:Entities=100

        # Enables / disables emissions from this source. [default: true]
        B:Explosion=true

        # Enables / disables emissions from this source. [default: true]
        B:Fire=true

        # Defines the rate of emissions from this source (in percents).
        I:"ImmersiveVehicles(MTS)"=100

        # Enables / disables emissions from this source. [default: true]
        B:LavaMixingWater=true

        # Enables / disables emissions from this source. [default: true]
        B:PlayerDeath=true

        # Enables / disables emissions from this source. [default: true]
        B:PlayerEating=true

        # Defines the rate of emissions from this source (in percents).
        I:Torches=0

        # Enables / disables emissions from this source. [default: true]
        B:VanillaFurnace=true
    }

    ##########################################################################################################
    # Altitude
    #--------------------------------------------------------------------------------------------------------#
    # Altitude bounds pollution can act within.
    ##########################################################################################################

    Altitude {
        #  [range: -2147483648 ~ 2147483647, default: 255]
        I:max=255

        #  [range: -2147483648 ~ 2147483647, default: 0]
        I:min=0
    }

}


