# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way HEI functions.
##########################################################################################################

advanced {
    # When enabled, adds new bookmarks to the front of the bookmark list [default: false]
    B:addBookmarksToFront=false

    # Builds search trees on multiple threads concurrently, turn this off if you're experiencing extremely high load on your CPU when loading HEI [default: true]
    B:asyncSearchTreeBuilding=true

    # Move the HEI search bar to the bottom center of the screen. [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # Choose if HEI should give ingredients direct to the inventory (inventory) or pick them up with the mouse (mouse_pickup).
    # [Default: mouse_pickup]
    # [Valid: [inventory, mouse_pickup]]
    S:giveMode=inventory

    # The maximum width of the ingredient list. [range: 4 ~ 100, default: 100]
    I:maxColumns=40

    # The maximum height of the recipe GUI. [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # How the mod name should be formatted in the tooltip for HEI GUIs. Leave blank to disable. [Default: blue italic] [Valid: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=
    B:optimizeMemoryUsage=true

    # Color of the recipe bookmark group in RGBA format. [range: -2147483648 ~ 2147483647, default: -1627324672]
    I:recipeBookmarkGroupColor=-1627324672

    # Enable ultra low memory usage mode, can slow down searching by a lot however. [default: false]
    B:ultraLowMemoryUsage=false
}


category {
    # Determines the display order of recipe categories in HEI. Categories listed earlier appear first in the HEI interface. [Default: []]
    S:categoryUidOrder <
        minecraft.crafting
        minecraft.fuel
        minecraft.smelting
        minecraft.brewing
        artisanworkstumps_potter
        bwm.cauldron
        bwm.crucible
        bwm.kiln
        bwm.cauldron.stoked
        bwm.crucible.stoked
        bwm.kiln.stoked
        bwm.mill
        bwm.saw
        bwm.turntable
        bwm.hopper
        bwm.steel_anvil
        container.jei.futuremc.smoker.name
        container.jei.futuremc.blast_furnace.name
        container.jei.futuremc.campfire.name
        container.jei.futuremc.stonecutter.name
        railcraft.rolling
        railcraft.coke
        railcraft.rock.crusher
        railcraft.blast.furnace
        artisanworktables_mage_workstation
        artisanworktables_chef_workstation
        pyrotech.pit.kiln
        pyrotech.stone.kiln
        pyrotech.brick.kiln
        pyrotech.crude.drying
        pyrotech.drying
        pyrotech.anvil.granite
        pyrotech.anvil.ironclad
        pyrotech.compacting.bin
        pyrotech.campfire
        pyrotech.soaking.pot
        pyrotech.compost.bin
        pyrotech.tanning
        pyrotech.mechanical.compacting.bin
        pyrotech.pit.burn
        pyrotech.refractory.burn
        requious.dryer
        requious.redstolyzer
        requious.interaction
        requious.growth_ferment
        requious.night_jar
        arcanearchives.gem_cutters_table
        arcanearchives.radiant_resonator
        aether_legacy.enchantment
        aether_legacy.freezable
        advancedmortars_wood
        advancedmortars_stone
        advancedmortars_iron
        advancedmortars_diamond
        advancedmortars_gold
        inworldcrafting.itemtransform
        bwa.infuser
        bwa.infuser.transmutation
        jehc.presser
        jehc.shippingbin
        jehc.market
        jehc.waterfilter
        foundry.mold
        foundry.melting
        foundry.casting
        foundry.alloymixer
        foundry.casting_table.ingot
        foundry.casting_table.block
        iceandfire.fire_dragon_forge
        iceandfire.ice_dragon_forge
        iceandfire.lightning_dragon_forge
        gaia.satchel.loot
        gaia.box.loot
        rats.chef_rat
        rats.gemcutter_rat
        fluidintetweaker.jefb
        fluidintetweaker.jefi
        arcaneworld.ritual
        horsepower.grinding
        horsepower.press
        horsepower.press_fluid
        lx.jei.banner.pattern.shapes
        lx.jei.banner.pattern.symbols
        exsartagine.pot
        exsartagine.kettle
        exsartagine.wok
        jei.information
        rustic.crushing_tub
        rustic.alchemy_advanced
        rustic.alchemy_simple
        multiblocked:multiblock_info
        multiblocked:accelerator
        multiblocked:dread_cold
        multiblocked:alchemical_mixer
        multiblocked:power_hammer_1
        multiblocked:power_hammer_2
        multiblocked:unstable_spiritfire
        multiblocked:mechanical_processor
        multiblocked:viridea_biomatter
        multiblocked:dryer
        inspirations.anvil_smashing
        inspirations.cauldron
     >
}


##########################################################################################################
# collapsible
#--------------------------------------------------------------------------------------------------------#
# Options for collapsing groups of ingredients into a single slot in the ingredient list.
##########################################################################################################

collapsible {
    # When enabled, groups of related ingredients (potions, enchanted books, etc.) are collapsed into a single slot. Alt+Click a group to expand or collapse it.
    B:collapsibleGroupsEnabled=true

    # Collapse currently opened groups when HEI is closed.
    B:collapseOnClose=false

    # Swaps the single click action, The other option becomes the Alt+Click action. Open Group opens the group. First Item applies the action to the first item in the group.
    # [Default: open_group]
    # [Valid: [open_group, first_item]]
    S:collapsedClickAction=OPEN_GROUP
    S:disabledGroups <
     >
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Miscellaneous config options
##########################################################################################################

misc {
    # Whether to hide the bottom-left corner bookmark button [default: false]
    B:hideBottomLeftCornerBookmarkButton=false

    # Whether to hide the bottom-right corner config button [default: false]
    B:hideBottomRightCornerConfigButton=false

    # Disable to disallow mouse clicks to see recipes and usages when hovering over an ingredient [default: true]
    B:mouseClickToSeeRecipes=true

    # Show user-hidden ingredients when the player is in creative mode [default: false]
    B:showHiddenIngredientsInCreative=false

    # Skip showing HEI's progress bars on load, can save up to a few seconds when loading [default: false]
    B:skipShowingProgressBar=true

    # Show when a recipe has been changed by adding it to the item's tooltip [default: true]
    B:tooltipShowRecipeBy=false
}


rendering {
    # Stops extremely frequent ingredient draw calls by using a render buffer, improves FPS in menus by up to 2-3x. But animations and glint will not be applied correctly. [default: false]
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# Options relating to the search bar.
##########################################################################################################

search {
    # Search mode for Colors (prefix: ^)
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:colorSearchMode=disabled

    # Search mode for Creative Tab Names (prefix: %)
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=require_prefix

    # Search mode for Mod Names (prefix: @)
    # [Default: require_prefix]
    # [Valid: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # Search mode for Ore Dictionary Names (prefix: $)
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=enabled

    # Search mode for resources ids (prefix: &)
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=require_prefix

    # Includes advanced tooltips in search trees [WILL RELOAD SEARCH TREES] [default: false]
    B:searchAdvancedTooltips=true

    # Includes stripped diacritics version of strings in search trees [WILL RELOAD SEARCH TREES] [default: false]
    B:searchStrippedDiacritics=true

    # Search mode for Tooltips (prefix: #)
    # [Default: enabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=enabled
}


searchadvancedtooltips {
    B:search=false
}


