# Configuration file

general {

    logging {
        # Enables debug logging output for diagnostics
        B:enableLogging=false

        # Enables display of chat messages related to newer versions
        # of the mod being available.
        B:enableVersionCheck=false
    }

    options {
        # List of fake players from which to remove block drops
        # May not work in all circumstances due to Forge swiss army knife interfaces
        S:fakePlayers <
         >

        # Number of ticks post chunk generation to check for EntityItems
        # 0 means use internal default (10 ticks)
        # Min: 0
        # Max: 100
        I:tickSpan=100
    }

}


