# Configuration file

general {

    gamerules {
        # Range that Animals search blocks (like troughs or food blocks) in
        I:aiBlockSearchRange=16

        # Allow random mobs to spawn on Animania animals
        B:allowMobRiding=true

        # Allow dispensers to place seeds
        B:allowSeedDispenserPlacement=true

        # Allow the trough to be automated with hoppers/pipes
        B:allowTroughAutomation=true

        # Animals do not have to eat or drink
        B:ambianceMode=false

        # Range that the animal cap applies for around each animal
        I:animalCapSearchRange=80

        # Animals can attack others
        B:animalsCanAttackOthers=true

        # Animals sleep
        B:animalsSleep=true

        # Animals starve to death when not fed and watered
        B:animalsStarve=false

        # If chickens and other birds shed their feathers naturally
        B:birdsDropFeathers=true

        # Eat animania food anytime
        B:eatFoodAnytime=true

        # Multiplier for reducing fall damage when animals are leashed
        D:fallDamageReduceMultiplier=0.44999998807907104

        # Fancy entity spawn eggs
        B:fancyEggs=false

        # If fancy entity eggs rotate or not
        B:fancyEggsRotate=false

        # Foods give bonus effects
        B:foodsGiveBonusEffects=true

        # Plant blocks removed after animal eats
        B:plantsRemovedAfterEating=true

        # Animals that are spawned in the world and have never been interacted with (put on a leash, fed by hand, trough, lured with food) will not eat or breed.
        B:requireAnimalInteractionForAI=true

        # Shift-Right-Click for Seed Placement
        B:shiftSeedPlacement=false

        # Show mod update notification at startup
        B:showModUpdateNotification=true

        # Show male parts (modesty flag)
        B:showParts=true

        # Show particles when animals are hungry or thirsty
        B:showUnhappyParticles=true

        # Tamed animals teleport to player)
        B:tamedAnimalsTeleport=true

        # AI Tick Countdown Timer (increase for higher performance)
        I:ticksBetweenAIFirings=100

        # Food Items that can be placed in the trough. Animal food items must be listed on here. (use # for meta)
        S:troughFood <
            minecraft:wheat
            simplecorn:corncob
            harvestcraft:barleyitem
            harvestcraft:oatsitem
            harvestcraft:ryeitem
            harvestcraft:cornitem
            minecraft:apple
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
            minecraft:wheat_seeds
            minecraft:melon_seeds
            minecraft:beetroot_seeds
            minecraft:pumpkin_seeds
            biomesoplenty:turnip_seeds
            minecraft:egg
            animania:brown_egg
            listAllbeefraw
            minecraft:fish
            harvestcraft:soybeanitem
            minecraft:pumpkin
            minecraft:melon
            rustic:wildberries
            rustic:grapes
            rustic:olives
            harvestcraft:arrowrootitem
            harvestcraft:eggplantitem
            harvestcraft:soybeanitem
            harvestcraft:cucumberitem
            harvestcraft:lettuceitem
            harvestcraft:grapeitem
            harvestcraft:wintersquashitem
            harvestcraft:zucchiniitem
            harvestcraft:peasitem
            harvestcraft:spinachitem
            harvestcraft:tomatoitem
            harvestcraft:pearitem
            harvestcraft:raspberryitem
            harvestcraft:strawberryitem
            harvestcraft:cranberryitem
            harvestcraft:blackberryitem
            harvestcraft:blueberryitem
            harvestcraft:elderberryitem
            harvestcraft:huckleberryitem
            harvestcraft:mulberryitem
            harvestcraft:juniperberryitem
            harvestcraft:gooseberryitem
            harvestcraft:candleberryitem
            harvestcraft:oliveitem
            harvestcraft:orangeitem
            harvestcraft:grapefruititem
            harvestcraft:amaranthseeditem
            harvestcraft:arrowrootseeditem
            harvestcraft:artichokeseeditem
            harvestcraft:asparagusseeditem
            harvestcraft:bambooshootseeditem
            harvestcraft:barleyseeditem
            harvestcraft:beanseeditem
            harvestcraft:beetseeditem
            harvestcraft:bellpepperseeditem
            harvestcraft:blackberryseeditem
            harvestcraft:blueberryseeditem
            harvestcraft:broccoliseeditem
            harvestcraft:brusselsproutseeditem
            harvestcraft:cabbageseeditem
            harvestcraft:cactusfruitseeditem
            harvestcraft:candleberryseeditem
            harvestcraft:cantaloupeseeditem
            harvestcraft:cassavaseeditem
            harvestcraft:cauliflowerseeditem
            harvestcraft:celeryseeditem
            harvestcraft:chickpeaseeditem
            harvestcraft:chilipepperseeditem
            harvestcraft:coffeeseeditem
            harvestcraft:cornseeditem
            harvestcraft:cottonseeditem
            harvestcraft:cranberryseeditem
            harvestcraft:cucumberseeditem
            harvestcraft:curryleafseeditem
            harvestcraft:eggplantseeditem
            harvestcraft:elderberryseeditem
            harvestcraft:flaxseeditem
            harvestcraft:garlicseeditem
            harvestcraft:gigapickleseeditem
            harvestcraft:gingerseeditem
            harvestcraft:grapeseeditem
            harvestcraft:greengrapeseeditem
            harvestcraft:huckleberryseeditem
            harvestcraft:jicamaseeditem
            harvestcraft:juniperberryseeditem
            harvestcraft:juteseeditem
            harvestcraft:kaleseeditem
            harvestcraft:kenafseeditem
            harvestcraft:kiwiseeditem
            harvestcraft:kohlrabiseeditem
            harvestcraft:leekseeditem
            harvestcraft:lentilseeditem
            harvestcraft:lettuceseeditem
            harvestcraft:milletseeditem
            harvestcraft:mulberryseeditem
            harvestcraft:mustardseeditem
            harvestcraft:oatsseeditem
            harvestcraft:okraseeditem
            harvestcraft:onionseeditem
            harvestcraft:parsnipseeditem
            harvestcraft:peanutseeditem
            harvestcraft:peasseeditem
            harvestcraft:pineappleseeditem
            harvestcraft:quinoaseeditem
            harvestcraft:radishseeditem
            harvestcraft:raspberryseeditem
            harvestcraft:rhubarbseeditem
            harvestcraft:riceseeditem
            harvestcraft:rutabagaseeditem
            harvestcraft:ryeseeditem
            harvestcraft:scallionseeditem
            harvestcraft:seaweedseeditem
            harvestcraft:sesameseedsseeditem
            harvestcraft:sisalseeditem
            harvestcraft:soybeanseeditem
            harvestcraft:spiceleafseeditem
            harvestcraft:spinachseeditem
            harvestcraft:strawberryseeditem
            harvestcraft:sweetpotatoseeditem
            harvestcraft:taroseeditem
            harvestcraft:teaseeditem
            harvestcraft:tomatilloseeditem
            harvestcraft:tomatoseeditem
            harvestcraft:turnipseeditem
            harvestcraft:waterchestnutseeditem
            harvestcraft:whitemushroomseeditem
            harvestcraft:wintersquashseeditem
            harvestcraft:zucchiniseeditem
            harvestcraft:cottonseeditem
            harvestcraft:candleberryseeditem
            harvestcraft:spinachseeditem
            harvestcraft:kiwiseeditem
            harvestcraft:cabbageseeditem
            harvestcraft:cornseeditem
            harvestcraft:cucumberseeditem
            harvestcraft:onionseeditem
            harvestcraft:artichokeseeditem
            harvestcraft:cottonseeditem
            harvestcraft:cactusfruitseeditem
            harvestcraft:elderberryseeditem
            harvestcraft:spiceleafseeditem
            harvestcraft:arrowrootseeditem
            harvestcraft:kohlrabiseeditem
            harvestcraft:mustardseeditem
            harvestcraft:candleberryseeditem
            harvestcraft:beetseeditem
            harvestcraft:beanseeditem
            harvestcraft:eggplantseeditem
            harvestcraft:gigapickleseeditem
            harvestcraft:raspberryseeditem
            harvestcraft:blueberryseeditem
            harvestcraft:chilipepperseeditem
            harvestcraft:grapeseeditem
            harvestcraft:mulberryseeditem
            harvestcraft:lettuceseeditem
            harvestcraft:tomatilloseeditem
            harvestcraft:curryleafseeditem
            harvestcraft:quinoaseeditem
            harvestcraft:milletseeditem
            harvestcraft:rhubarbseeditem
            harvestcraft:gingerseeditem
            harvestcraft:asparagusseeditem
            harvestcraft:cantaloupeseeditem
            harvestcraft:wintersquashseeditem
            harvestcraft:rutabagaseeditem
            harvestcraft:brusselsproutseeditem
            harvestcraft:okraseeditem
            harvestcraft:sesameseedsseeditem
            harvestcraft:cauliflowerseeditem
            harvestcraft:radishseeditem
            harvestcraft:broccoliseeditem
            harvestcraft:zucchiniseeditem
            harvestcraft:tomatoseeditem
            harvestcraft:scallionseeditem
            harvestcraft:juteseeditem
            harvestcraft:sisalseeditem
            harvestcraft:waterchestnutseeditem
            harvestcraft:bambooshootseeditem
            harvestcraft:flaxseeditem
            harvestcraft:celeryseeditem
            harvestcraft:peasseeditem
            harvestcraft:cassavaseeditem
            harvestcraft:peanutseeditem
            harvestcraft:teaseeditem
            harvestcraft:taroseeditem
            harvestcraft:parsnipseeditem
            harvestcraft:soybeanseeditem
            harvestcraft:garlicseeditem
            harvestcraft:coffeeseeditem
            harvestcraft:oatsseeditem
            harvestcraft:jicamaseeditem
            harvestcraft:strawberryseeditem
            harvestcraft:seaweedseeditem
            harvestcraft:barleyseeditem
            harvestcraft:kenafseeditem
            harvestcraft:whitemushroomseeditem
            harvestcraft:riceseeditem
            harvestcraft:lentilseeditem
            harvestcraft:sweetpotatoseeditem
            harvestcraft:leekseeditem
            harvestcraft:agaveseeditem
            harvestcraft:amaranthseeditem
            harvestcraft:chickpeaseeditem
            harvestcraft:greengrapeseeditem
            harvestcraft:pineappleseeditem
            harvestcraft:blackberryseeditem
            harvestcraft:huckleberryseeditem
            harvestcraft:juniperberryseeditem
            harvestcraft:cranberryseeditem
            harvestcraft:bellpepperseeditem
            harvestcraft:turnipseeditem
            harvestcraft:kaleseeditem
            harvestcraft:ryeseeditem
            harvestcraft:asparagusseeditem
            harvestcraft:barleyseeditem
            harvestcraft:beanseeditem
            harvestcraft:beetseeditem
            harvestcraft:broccoliseeditem
            harvestcraft:cauliflowerseeditem
            harvestcraft:celeryseeditem
            harvestcraft:cranberryseeditem
            harvestcraft:garlicseeditem
            harvestcraft:gingerseeditem
            harvestcraft:leekseeditem
            harvestcraft:lettuceseeditem
            harvestcraft:oatsseeditem
            harvestcraft:onionseeditem
            harvestcraft:parsnipseeditem
            harvestcraft:peanutseeditem
            harvestcraft:pineappleseeditem
            harvestcraft:radishseeditem
            harvestcraft:riceseeditem
            harvestcraft:rutabagaseeditem
            harvestcraft:ryeseeditem
            harvestcraft:scallionseeditem
            harvestcraft:soybeanseeditem
            harvestcraft:spiceleafseeditem
            harvestcraft:sweetpotatoseeditem
            harvestcraft:teaseeditem
            harvestcraft:turnipseeditem
            harvestcraft:whitemushroomseeditem
            harvestcraft:artichokeseeditem
            harvestcraft:bellpepperseeditem
            harvestcraft:blackberryseeditem
            harvestcraft:blueberryseeditem
            harvestcraft:brusselsproutseeditem
            harvestcraft:cabbageseeditem
            harvestcraft:cactusfruitseeditem
            harvestcraft:cantaloupeseeditem
            harvestcraft:chilipepperseeditem
            harvestcraft:coffeeseeditem
            harvestcraft:cornseeditem
            harvestcraft:cucumberseeditem
            harvestcraft:eggplantseeditem
            harvestcraft:grapeseeditem
            harvestcraft:kiwiseeditem
            harvestcraft:mustardseeditem
            harvestcraft:okraseeditem
            harvestcraft:peasseeditem
            harvestcraft:raspberryseeditem
            harvestcraft:rhubarbseeditem
            harvestcraft:seaweedseeditem
            harvestcraft:strawberryseeditem
            harvestcraft:tomatoseeditem
            harvestcraft:wintersquashseeditem
            harvestcraft:zucchiniseeditem
            harvestcraft:bambooshootseeditem
            harvestcraft:spinachseeditem
            harvestcraft:curryleafseeditem
            harvestcraft:sesameseedsseeditem
            harvestcraft:gigapickleseeditem
            harvestcraft:kaleseeditem
            harvestcraft:waterchestnutseeditem
            harvestcraft:agaveseeditem
            harvestcraft:amaranthseeditem
            harvestcraft:arrowrootseeditem
            harvestcraft:cassavaseeditem
            harvestcraft:chickpeaseeditem
            harvestcraft:elderberryseeditem
            harvestcraft:flaxseeditem
            harvestcraft:greengrapeseeditem
            harvestcraft:huckleberryseeditem
            harvestcraft:jicamaseeditem
            harvestcraft:juteseeditem
            harvestcraft:kenafseeditem
            harvestcraft:kohlrabiseeditem
            harvestcraft:lentilseeditem
            harvestcraft:milletseeditem
            harvestcraft:mulberryseeditem
            harvestcraft:quinoaseeditem
            harvestcraft:sisalseeditem
            harvestcraft:taroseeditem
            harvestcraft:tomatilloseeditem
            harvestcraft:juniperberryseeditem
         >

        # Water blocks removed after large animals drink
        B:waterRemovedAfterDrinking=true
    }

    careandfeeding {
        # Chance that a female animal will lose its baby, if it is hungry and thirsty. Set to 0 to disable
        D:animalLossChance=0.0

        # Chance that multiple animals will be born. Gets multiplied with itself after every child. Set to 0 to disable.
        D:birthMultipleChance=0.1

        # Ticks before next incremental growth
        I:childGrowthTick=200

        # Egg hatch chance (1/x)
        I:eggHatchChance=2

        # Animals won't breed if there are more than the specified amount of animals of their type in a 30 block range.
        I:entityBreedingLimit=15

        # Ticks between dropping feathers for chickens and peafowl
        I:featherTimer=12000

        # Ticks between feedings
        I:feedTimer=12000

        # Mammals mate only after hand-feeding
        B:feedToBreed=true

        # Ticks between birthings
        I:gestationTimer=20000

        # Ticks between laying eggs for chickens and peafowl
        I:laidTimer=2000

        # If male animals can have multiple mates.
        B:malesMateMultipleFemales=false

        # Ticks between playing
        I:playTimer=12000

        # Maximum uses of the salt lick
        I:saltLickMaxUses=200

        # Ticks between using Salt Lick
        I:saltLickTick=8000

        # Ingredients used to make slop (use # for meta)
        S:slopIngredients <
            minecraft:carrot
            minecraft:beetroot
            minecraft:potato
            minecraft:poisonous_potato
            minecraft:bread
         >

        # Ticks between animals taking starvation damage
        I:starvationTimer=400

        # Ticks between drinking water
        I:waterTimer=12000

        # Ticks before wool regrowth after shearing
        I:woolRegrowthTimer=8000
    }

    foodvalues {
        # Food Value Overrides. Format: modid:name(hunger,saturationMultiplier) Example: animania:cheese_omelette(5,0.8)
        S:foodValueOverrides <
         >
    }

}


