# Configuration file

general {

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-Side Options
    ##########################################################################################################

    "client options" {
        # Rendering properties for worn Armor.
        # 	Format: [EQUIPMENT SLOT, Scale, Rotation Angle, X, Y, Z]
        S:"Broken Armor Render Properties" <
            CHEST, 128, -12, 0, 0, 1
            LEGS, 96, 12, 32, 0, 1
            FEET, 144, -20, 0, 0, 1
            HEAD, 96, -10, 0, 0, 1
         >

        # Render a cracked texture overlay for broken items
        B:"Broken Item Overlay"=false

        # Default variation of the cracked texture. Uses the vanilla block breaking texture.
        # Min: 0
        # Max: 9
        I:"Default Broken Item Overlay"=4

        # Specified variation of cracked texture for Item class.
        # 	Format: ["Class instanceof, number"]
        S:"Item Class Overlay Index" <
            net.minecraft.item.ItemSword, 6
            net.minecraft.item.ItemBow, 5
            net.minecraft.item.ItemTool, 3
         >

        # Specified variation of cracked texture for Item ids.
        # 	Format: ["domain:itemname, number"]
        S:"Item ID Overlay Index" <
         >
    }

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-Side Options
    ##########################################################################################################

    "server options" {
        # Apply a very aggressive nullification to Held Items when broken.
        # Broken items will be assumed to be air.
        # Will break specific hand checks from things such as commands.
        B:"Aggressive Held Item Nullification"=true

        # Apply a very aggressive nullification to Armor when broken.
        # Broken items will be assumed to be air.
        # Required for general coverage of disabling Armor Bonuses from other mods.
        B:"Aggressive Worn Item Nullification"=true

        # Enchantment ids in the format "domain:itemname"
        # Whitelisted enchantments will be allowed to activate when an Item is broken.
        S:"Enchantments Whitelist" <
            minecraft:mending
            somanyenchantments:advancedmending
            somanyenchantments:rune_revival
         >

        # Item classes blacklisted from handling
        S:"Item Class Blacklist" <
            com.oblivioussp.spartanweaponry.item.ItemThrowingWeapon
         >

        # Item ids in the format "domain:itemname" blacklisted from handling
        S:"Item ID Blacklist" <
            totf:bone_rattle
            minetraps:nails
         >

        # Potion ids in the format "domain:potionname"
        # Whitelisted potions will able to recognize broken Items.
        S:"Potion Whitelist" <
            potioncore:repair
         >
    }

    ##########################################################################################################
    # mod integration options
    #--------------------------------------------------------------------------------------------------------#
    # Mod Integration Options
    ##########################################################################################################

    "mod integration options" {
        # Adds a durability tooltip for the Hammer and Wirecutter
        B:"Immersive Engineering Durability Tooltip (Immersive Engineering)"=true
    }

    ##########################################################################################################
    # mixin options
    #--------------------------------------------------------------------------------------------------------#
    # Mixin Toggle Options
    ##########################################################################################################

    "mixin options" {
        # Recognize and handle IE's custom durability items (Manual, Hammer, Voltmeter, and Wirecutter)
        B:"Immersive Engineering Compatibility (Immersive Engineering)"=true

        # Allows set bonus Equipment Conditions to recognize broken Items and disable Set Bonuses
        B:"Set Bonus Compatibility (Set Bonus)"=true
    }

}


