# Configuration file

biomes {
    # Enables|Disables biome [default: true]
    B:bone_reef=false

    # Chance in 1000 for this sub-biome to appear within the main biome [range: 1 ~ 1000, default: 125]
    I:bone_reef_chance=125

    # Enables|Disables biome [default: true]
    B:empty_nether=true

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:empty_nether_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:empty_nether_weight=1

    # Enables|Disables biome [default: true]
    B:grasslands=false

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:grasslands_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:grasslands_weight=1

    # Enables|Disables biome [default: true]
    B:gravel_desert=false

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:gravel_desert_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:gravel_desert_weight=1

    # Enables|Disables biome [default: true]
    B:mushroom_forest=true

    # Enables|Disables biome [default: true]
    B:mushroom_forest_edge=true

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:mushroom_forest_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:mushroom_forest_weight=1

    # Enables|Disables biome [default: true]
    B:nether_jungle=false

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:nether_jungle_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:nether_jungle_weight=1

    # Enables|Disables biome [default: true]
    B:poor_grasslands=false

    # Chance in 1000 for this sub-biome to appear within the main biome [range: 1 ~ 1000, default: 125]
    I:poor_grasslands_chance=0

    # Enables|Disables biome [default: true]
    B:wart_forest=true

    # Enables|Disables biome [default: true]
    B:wart_forest_edge=true

    # Proper MC-registered biomes this "biome" can spawn in. Leave empty for all biomes. [default: ]
    S:wart_forest_spawns <
     >

    # Biome weight (higher = more common) [range: 1 ~ 32767, default: 1]
    I:wart_forest_weight=1
}


blocks {
    # Enables|Disables block [default: true]
    B:block_agave=true

    # Enables|Disables block [default: true]
    B:block_barrel_cactus=true

    # Enables|Disables block [default: true]
    B:block_black_apple=true

    # Enables|Disables block [default: true]
    B:block_black_apple_seed=true

    # Enables|Disables block [default: true]
    B:block_black_bush=true

    # Enables|Disables block [default: true]
    B:block_bone=true

    # Enables|Disables block [default: true]
    B:block_bone_button=true

    # Enables|Disables block [default: true]
    B:block_bone_cincinnasite_door=true

    # Enables|Disables block [default: true]
    B:block_bone_mushroom=true

    # Enables|Disables block [default: true]
    B:block_bone_plate=true

    # Enables|Disables block [default: true]
    B:block_bone_reed_door=true

    # Enables|Disables block [default: true]
    B:block_bone_slab_double=true

    # Enables|Disables block [default: true]
    B:block_bone_slab_half=true

    # Enables|Disables block [default: true]
    B:block_bone_stairs=true

    # Enables|Disables block [default: true]
    B:block_bone_tile=true

    # Enables|Disables block [default: true]
    B:block_bone_wall=true

    # Enables|Disables block [default: true]
    B:block_brown_large_mushroom=true

    # Enables|Disables block [default: true]
    B:block_chest_of_drawers=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_bars=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_brick_plate=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_bricks=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_bricks_pillar=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_button=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_carved=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_fire_bowl=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_forge=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_forged=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_frame=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_lantern=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_ore=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_pedestal=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_pillar=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_plate=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_pot=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_slab_double=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_slab_half=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_stairs=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_tile_large=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_tile_small=true

    # Enables|Disables block [default: true]
    B:block_cincinnasite_wall=true

    # Enables|Disables block [default: true]
    B:block_egg_plant=true

    # Enables|Disables block [default: true]
    B:block_eye_seed=true

    # Enables|Disables block [default: true]
    B:block_eye_vine=true

    # Enables|Disables block [default: true]
    B:block_eyeball=true

    # Enables|Disables block [default: true]
    B:block_eyeball_small=true

    # Enables|Disables block [default: true]
    B:block_gray_mold=true

    # Enables|Disables block [default: true]
    B:block_ink_bush=true

    # Enables|Disables block [default: true]
    B:block_ink_bush_seed=true

    # Enables|Disables block [default: true]
    B:block_lucis_mushroom=true

    # Enables|Disables block [default: true]
    B:block_lucis_spore=true

    # Enables|Disables block [default: true]
    B:block_magma_flower=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_tile_large=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_tile_slab_double=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_tile_slab_half=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_tile_small=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_tile_stairs=true

    # Enables|Disables block [default: true]
    B:block_nether_brick_wall=true

    # Enables|Disables block [default: true]
    B:block_nether_cactus=true

    # Enables|Disables block [default: true]
    B:block_nether_grass=true

    # Enables|Disables block [default: true]
    B:block_nether_mycelium=true

    # Enables|Disables block [default: true]
    B:block_nether_reed=true

    # Enables|Disables block [default: true]
    B:block_netherrack_furnace=true

    # Enables|Disables block [default: true]
    B:block_netherrack_moss=true

    # Enables|Disables block [default: true]
    B:block_orange_mushroom=true

    # Enables|Disables block [default: true]
    B:block_pig_statue_respawner=true

    # Enables|Disables block [default: true]
    B:block_potted_plant=true

    # Enables|Disables block [default: true]
    B:block_quartz_glass=true

    # Enables|Disables block [default: true]
    B:block_quartz_glass_framed=true

    # Enables|Disables block [default: true]
    B:block_quartz_glass_framed_pane=true

    # Enables|Disables block [default: true]
    B:block_quartz_glass_pane=true

    # Enables|Disables block [default: true]
    B:block_quartz_stained_glass=true

    # Enables|Disables block [default: true]
    B:block_quartz_stained_glass_framed=true

    # Enables|Disables block [default: true]
    B:block_quartz_stained_glass_pane=false

    # Enables|Disables block [default: true]
    B:block_red_large_mushroom=true

    # Enables|Disables block [default: true]
    B:block_red_mold=true

    # Enables|Disables block [default: true]
    B:block_reeds_block=true

    # Enables|Disables block [default: true]
    B:block_reeds_button=true

    # Enables|Disables block [default: true]
    B:block_reeds_fence=true

    # Enables|Disables block [default: true]
    B:block_reeds_gate=true

    # Enables|Disables block [default: true]
    B:block_reeds_ladder=true

    # Enables|Disables block [default: true]
    B:block_reeds_plate=true

    # Enables|Disables block [default: true]
    B:block_reeds_slab_double=true

    # Enables|Disables block [default: true]
    B:block_reeds_slab_half=true

    # Enables|Disables block [default: true]
    B:block_reeds_stairs=true

    # Enables|Disables block [default: true]
    B:block_smoker=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_bark=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_bottom=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_bowl=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_middle=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_button=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_fence=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_gate=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_plate=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_slab_double=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_slab_half=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_planks_stairs=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_seed=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_seed_bottom=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_stem=true

    # Enables|Disables block [default: true]
    B:block_stalagnate_top=true

    # Enables|Disables block [default: true]
    B:block_wart_seed=true
}


cities {
    # List of structures to use as city buildings. Loaded from config/betternether/structures/city. (You can also override built-in ones by putting files with the same name there.) [default: [city_building_01], [city_building_02], [city_building_03], [city_building_04], [city_building_05], [city_building_06], [city_building_07], [city_building_08], [city_building_09], [city_building_10], [city_library_01], [city_tower_01], [city_tower_02], [city_enchanter_01], [city_hall]]
    S:CityBuildings <
        city_building_01
        city_building_02
        city_building_03
        city_building_04
        city_building_05
        city_building_06
        city_building_07
        city_building_08
        city_building_09
        city_building_10
        city_library_01
        city_tower_01
        city_tower_02
        city_enchanter_01
        city_hall
     >

    # List of structures to use as city centers. Loaded from config/betternether/structures/city. (You can also override built-in ones by putting files with the same name there.) [default: [city_center_01], [city_center_02]]
    S:CityCenters <
        city_center_01
        city_center_02
     >

    # Enables|Disables cities [default: true]
    B:CityEnabled=true

    # City grid size in chunks [range: 8 ~ 2048, default: 80]
    I:CityGridSize=24
}


eggplantdamage {
    # Damage for mobs [default: true]
    B:DamageMobs=true

    # Damage for players [default: true]
    B:DamagePlayer=true
}


generator {
    # Defines size in horisontal space [range: 1 ~ 4096, default: 100]
    I:BiomeSizeXZ=100

    # Defines size in vertical space [range: 1 ~ 4096, default: 32]
    I:BiomeSizeY=32
    S:BoneReefDensity=1.0

    # Density for Empty Nether biome [range: 0.0 ~ 1.0, default: 1.0]
    S:EmptyNetherDensity=1.0

    # Global plant density, multiplied on other [range: 0.0 ~ 1.0, default: 1.0]
    S:GlobalDensity=0.5
    S:GravelDesertDensity=0.0
    S:NetherGrasslandsDensity=0.0
    S:NetherJungleDensity=0.0

    # Density for Nether Mushroom Forest biome [range: 0.0 ~ 1.0, default: 1.0]
    S:NetherMushroomForestDensity=0.8

    # Density for Nether Mushroom Forest Edge biome [range: 0.0 ~ 1.0, default: 1.0]
    S:NetherMushroomForestEdgeDensity=0.5

    # Density for Nether Wart Forest Edge biome [range: 0.0 ~ 1.0, default: 1.0]
    S:NetherWartForestEdgeDensity=1.0

    # Enables|Disables vanilla nether wart generation in biomes [default: true]
    B:NetherWartGeneration=false

    # Cincinnasite ore density [range: 0.0 ~ 1.0, default: 9.765625E-4]
    S:OreDensity=9.765625E-4
    S:PoorNetherGrasslandsDensity=1.0

    # Enables|Disables second pass for smooth terrain [default: true]
    B:SecondPass=true

    # Structure density for random world structures [range: 0.0 ~ 1.0, default: 0.015625]
    S:StructureDensity=0.05

    # Blocks to consider normal terrain during worldgen for structure gen, etc. [default: [minecraft:netherrack], [minecraft:soul_sand], [betternether:nether_mycelium], [betternether:netherrack_moss]]
    S:TerrainBlocks <
        minecraft:netherrack
        minecraft:soul_sand
        biomesoplenty:flesh
        netherex:fiery_netherrack
        betternether:nether_mycelium
        betternether:netherrack_moss
     >

    # Blocks to replace with Better Nether's biome ground covering (if there is one) during worldgen [default: [minecraft:netherrack], [minecraft:soul_sand], [minecraft:gravel]]
    S:TerrainReplaceBlocks <
        minecraft:netherrack
        minecraft:soul_sand
     >

    # Density for Wart Forest biome [range: 0.0 ~ 1.0, default: 1.0]
    S:WartForestDensity=1.0
}


items {
    # Enables|Disables item [default: true]
    B:black_apple=true

    # Enables|Disables item [default: true]
    B:cincinnasite=true

    # Enables|Disables item [default: true]
    B:cincinnasite_axe=true

    # Enables|Disables item [default: true]
    B:cincinnasite_axe_diamond=true

    # Enables|Disables item [default: true]
    B:cincinnasite_pickaxe=true

    # Enables|Disables item [default: true]
    B:cincinnasite_pickaxe_diamond=true

    # Enables|Disables item [default: true]
    B:stalagnate_bowl=true

    # Enables|Disables item [default: true]
    B:stalagnate_bowl_apple=true

    # Enables|Disables item [default: true]
    B:stalagnate_bowl_mushroom=true

    # Enables|Disables item [default: true]
    B:stalagnate_bowl_wart=true
}


other {
    # List of blocks plants can grow on. Some plants will always grow on soul sand. [default: [minecraft:netherrack], [betternether:nether_mycelium], [betternether:netherrack_moss]]
    S:PlantableBlocks <
        minecraft:netherrack
        betternether:nether_mycelium
        betternether:netherrack_moss
        netherex:fiery_netherrack
        biomesoplenty:flesh
        minecraft:mycelium
     >
}


structuregenweights_cave {
    # Spawn weight for selecting cave structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_room_01=0
}


structuregenweights_land {
    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_01=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_02=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_03=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_04=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_05=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_altar_06=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_garden_01=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_garden_02=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_pillar_01=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_portal_01=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_portal_02=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_respawn_point_01=1

    # Spawn weight for selecting land structures to spawn [range: 0 ~ 100, default: 1]
    I:StructureWeight_respawn_point_02=1
}


