# Configuration file

~CONFIG_VERSION: 4

general {
    # Adds additional crit chance when the player is falling like in vanilla or sprinting [range: 0.0 ~ 1.0, default: 0.1]
    S:"Additional Crit Chance"=0.1

    # Add an additional sound when striking a target [default: true]
    B:"Additional Hit Sound"=true

    # Add an additional sound when you swing a weapon, the sound will pan left for offhand attacks, and pan right for mainhand attacks! [default: true]
    B:"Additional Swing Sound"=true
    B:"Additional crit sound"=true
    B:"Additional hit sound"=true

    # Arrows will make an impact sound when they hit an entity, regardless of range [default: true]
    B:"Arrow Impact Sound"=true

    # Attacking an enemy while sprinting will no longer interrupt your sprint [default: true]
    B:"Attack & Sprint"=true
    B:"Attack and Sprint"=true
    B:"Attacks require full energy"=true

    # Add or subtract damage from bows. Vanilla arrow base damage is 2.0. Damage of a fully charge critical vanilla bow is (~3 * 2.0 + rand.nextInt(~3 * 2.0 / 2 + 2) ). The ~3 is based off arrow velocity and is usually around 3. The 2.0 is the arrow base damage. Vanilla bows average 9 damage. If you change the vanilla arrow damage from 2.0 to 1.0 the average fully charged crit damage would be around 4 damage. Format for this config setting:  bow_name~damage  minecraft:bow~-1.0 [default: [minecraft:bow~1]]
    S:"Bow List" <
        minecraft:bow~1
        betterwithaddons:greatbow~1.5
     >

    # How much more damage crits do (multiplier) [range: 1.0 ~ 3.0, default: 1.5]
    S:"Crit Damage Bonus"=1.5

    # The dragonbone bow does the same damage as a normal bow (possibly due to the interactions of some other mods?) This setting adds wither damage to the bow to compensate for the lack of damage. Set to 0.0F to disable [range: 0.0 ~ 128.0, default: 12.0]
    S:"Dragonbone Wither"=4.0

    # Enables the capability to attack with your off-hand [default: true]
    B:"Enable Offhand Attacks"=true

    # Blacklisted entity classes for attacking. You will not be able to attack any entity that extends this class! Please note that entities extending IEntityOwnable are by default blacklisted, when the entity is owned by the attacker [default: [net.minecraft.entity.passive.EntityHorse], [net.minecraft.entity.item.EntityArmorStand], [net.minecraft.entity.passive.EntityVillager], [net.torocraft.toroquest.entity.EntityGuard], [net.torocraft.toroquest.entity.EntityVillageLord], [net.torocraft.toroquest.entity.EntityToroNpc], [net.torocraft.toroquest.entity.EntityToroNpc], [net.torocraft.toroquest.entity.EntityToroVillager], [net.torocraft.toroquest.entity.EntityToroNpc]]
    S:"Entity Blacklist" <
     >

    # Whitelisted item classes for attacking [default: [net.minecraft.item.ItemSword], [net.minecraft.item.ItemAxe], [net.minecraft.item.ItemSpade], [net.minecraft.item.ItemPickaxe], [net.minecraft.item.ItemHoe], [slimeknights.tconstruct.library.tools.SwordCore], [slimeknights.tconstruct.library.tools.AoeToolCore], [com.oblivioussp.spartanweaponry.item.ItemSwordBase], [com.oblivioussp.spartanweaponry.item.ItemSaber], [com.oblivioussp.spartanweaponry.item.ItemRapier], [com.oblivioussp.spartanweaponry.item.ItemGlaive], [com.oblivioussp.spartanweaponry.item.ItemSpear], [com.oblivioussp.spartanweaponry.item.ItemPike], [com.oblivioussp.spartanweaponry.item.ItemHammer], [com.oblivioussp.spartanweaponry.item.ItemMace], [com.oblivioussp.spartanweaponry.item.ItemWarhammer], [com.oblivioussp.spartanweaponry.item.ItemBattleaxe], [com.oblivioussp.spartanweaponry.item.ItemCaestus], [com.oblivioussp.spartanweaponry.item.ItemClub], [com.oblivioussp.spartanweaponry.item.ItemGreatsword], [com.oblivioussp.spartanweaponry.item.ItemKatana], [com.oblivioussp.spartanweaponry.item.ItemLance], [com.oblivioussp.spartanweaponry.item.ItemLongsword], [com.oblivioussp.spartanweaponry.item.ItemQuarterstaff], [com.oblivioussp.spartanweaponry.item.ItemHalberd], [com.oblivioussp.spartanweaponry.item.ItemCaestus], [com.oblivioussp.spartanweaponry.item.ItemClub], [com.oblivioussp.spartanweaponry.item.ItemWeaponBase], [com.oblivioussp.spartanweaponry.item.ItemThrowingWeapon]]
    S:"Item Class Whitelist" <
        net.minecraft.item.ItemSword
        net.minecraft.item.ItemAxe
        net.minecraft.item.ItemSpade
        net.minecraft.item.ItemPickaxe
        net.minecraft.item.ItemHoe
        slimeknights.tconstruct.library.tools.SwordCore
        slimeknights.tconstruct.library.tools.AoeToolCore
        com.oblivioussp.spartanweaponry.item.ItemSwordBase
        com.oblivioussp.spartanweaponry.item.ItemSaber
        com.oblivioussp.spartanweaponry.item.ItemRapier
        com.oblivioussp.spartanweaponry.item.ItemGlaive
        com.oblivioussp.spartanweaponry.item.ItemSpear
        com.oblivioussp.spartanweaponry.item.ItemPike
        com.oblivioussp.spartanweaponry.item.ItemHammer
        com.oblivioussp.spartanweaponry.item.ItemMace
        com.oblivioussp.spartanweaponry.item.ItemWarhammer
        com.oblivioussp.spartanweaponry.item.ItemBattleaxe
        com.oblivioussp.spartanweaponry.item.ItemCaestus
        com.oblivioussp.spartanweaponry.item.ItemClub
        com.oblivioussp.spartanweaponry.item.ItemGreatsword
        com.oblivioussp.spartanweaponry.item.ItemKatana
        com.oblivioussp.spartanweaponry.item.ItemLance
        com.oblivioussp.spartanweaponry.item.ItemLongsword
        com.oblivioussp.spartanweaponry.item.ItemQuarterstaff
        com.oblivioussp.spartanweaponry.item.ItemHalberd
        com.oblivioussp.spartanweaponry.item.ItemCaestus
        com.oblivioussp.spartanweaponry.item.ItemClub
        com.oblivioussp.spartanweaponry.item.ItemWeaponBase
        com.oblivioussp.spartanweaponry.item.ItemThrowingWeapon
     >

    # Whitelisted items in the format "modid:itemname" for attacking [default: ]
    S:"Item Whitelist" <
     >
    B:"Longer Attack"=false

    # LUCK attribute affects crit chance. Forumla = ( LUCK * luckCritModifier ). If luckCritModifier is 0.1F then 2 LUCK would give 20% crit chance [range: 0.0 ~ 1.0, default: 0.2]
    S:"Luck Affects Crit Chance"=0.1

    # Add sweep particles on attack (looks good, reccommend you keep this as true) [default: true]
    B:"More Attack Hit Particles"=true
    B:"More swipe animation"=true

    # Enable to have nausea affect mobs of medium/large height (3.0F) or below [default: true]
    B:"Nausea Affects Mobs"=true

    # The efficiency of an attack with offhanded weapon in percent (attack damage * efficiency) [range: 0.0 ~ 256.0, default: 0.5]
    S:"Offhand Efficiency"=0.5

    # Adds random crit chance and replaces vanilla crits [range: 0.0 ~ 1.0, default: 0.1]
    S:"Random Crit Chance"=0.20
    B:"Random Crits"=true

    # The range added to the default attack range: in multiplayer this is 5.0, in singleplayer this is 4.0. [range: -5.0 ~ 5.0, default: -1.0]
    S:"Reach Distance Modifier"=-1.0
    B:"Refound energy on miss"=false

    # How much damage undead attackers will take against an entity wearing silver armor, per piece of silver armor. Silver weapons get a damage bonus, so why not add a special interaction with silver armor? [range: 0.0 ~ 64.0, default: 1.5]
    S:"Silver Armor Damage"=1.5

    # Enable to have armor the piercing effect of warhammers actually work against mobs who have added armor values (through RoughMobsRevamped, for example) [default: true]
    B:"Warhammer Armor Pierce"=true
    B:"Weaker Left Arm"=true

    # Melee attacks hit in a wider area (easier to land hit) [default: true]
    B:"Wider Attack"=true

    # How much bigger the hitbox will be extended for wider attacks (reccommend keeping this 1.3F) [range: 0.0 ~ 64.0, default: 1.3]
    S:"Wider Attack Width"=0.9
}


