# Configuration file

##########################################################################################################
# client side
#--------------------------------------------------------------------------------------------------------#
# Client side options. You mostly don't need to restart.
##########################################################################################################

"client side" {
    # Amount of texture changes. [range: 0 ~ 2147483647, default: 1]
    I:"Bundle Levels"=1

    # Allows mixing colors like leather armor. You need to restart both server and client for this to work properly.
    # I might separate it but i don't want to [default: false]
    B:"Custom Colors"=false
}


general {
    B:"Allow Storage Items"=false
    B:"Allow Tools"=true
    I:"Bundle Levels"=1
    I:"Bundle Size"=128
    B:"Custom Colors"=false
    B:"Is Blacklist"=true
    S:"Item List" <
     >
    B:"Respect Items Max Stack Size"=true
}


##########################################################################################################
# server side
#--------------------------------------------------------------------------------------------------------#
# Server side options.
##########################################################################################################

"server side" {
    # Allow items to be added to bundles like shulker boxes, forestry backpacks etc. [default: false]
    B:"Allow Storage Items"=false

    # Allow Tools to be added to bundles. [default: true]
    B:"Allow Tools"=true

    # Amounts of items bundle can get. [range: 0 ~ 2147483647, default: 64]
    I:"Bundle Size"=128

    # Is item list blacklist or not. [default: true]
    B:"Is Blacklist"=true

    # List of items that should be allowed to be added to bundle or not. If isBlacklist is true this will act as blacklist and whitelist if that's false.
    # You don't need to specify mod id if item is from Minecraft. Metadata and NBT is optional.
    # <item_id>@<metadata>#<nbt> e.g. minecraft:dirt, dye@15, thermalfoundation:material@19, mod:examplewithtag@15#{integer:2} [default: ]
    S:"Item List" <
     >

    # Respect maximum stack sizes of items. [default: true]
    B:"Respect Items Max Stack Size"=true
}


