# Configuration file

general {
    # This allows you to set what a block will become when it burns
    # Eg. you can make grass blocks turn to dirt by using this setting:
    # minecraft:grass, minecraft:dirt
    # 
    # You can also use oredict:
    # oredict:logWood, coal_block
    # 
    # Keep in mind that this won't do anything unless you make sure the first block is actually flammable (and maybe give it encouragement too, depending; see the MC wiki for more info on those stats)
    S:"Block Transformations" <
     >

    # This allows you to set a custom BASE flammability and encouragement for any given block
    # 
    # The EFFECTIVE stats of the block will be these values times their respective multipliers
    # 
    # Flammability is how fast/easily the block is destroyed by fire
    # 
    # Encouragement is how fast/easily fire spreads to the block
    # 
    # The equals symbol can be used to leave a base stat as-is (eg, if you only want to change one stat)
    # 
    # Setting flammability to a negative value makes a block behave like netherrack (as far as fire goes)
    # 
    # Syntax is [blockID, flammability, encouragement]. Examples below
    # minecraft:grass, 5, 5
    # minecraft:dirt, =, 5
    # oredict:stone, 5, 5
    S:"Block-Specific Settings" <
        oredict:logWood, 1, =
        oredict:nailedWood, 3, 6
        minecraft:web, 5000, 10000
        oredict:blockCharcoal, 1, 0
        oredict:blockCoal, 1, 0
     >

    ##########################################################################################################
    # global multipliers
    #--------------------------------------------------------------------------------------------------------#
    # Multipliers for how fast fire naturally spreads and how fast fire burns blocks
    # 
    # Also includes the setting for how often fire updates (which makes everything fire-related faster or slower)
    ##########################################################################################################

    "global multipliers" {
        # How fast blocks are destroyed (burnt) when 'on fire', as a multiplier (2 means twice as fast, 0.5 means half as fast)
        # 
        # AKA flammability multiplier
        # 
        # Set this to 0 to make it so fire doesn't break (burn) blocks at all (but can still be lit)
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Burn Speed Multiplier"=0.25

        # How fast fire spreads, as a multiplier (2 means twice as fast, 0.5 means half as fast)
        # 
        # AKA encouragement multiplier
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Spread Speed Multiplier"=0.6

        # The number of game ticks before fire blocks update themselves
        # 
        # The lower you set this, the faster fire works (in every way)
        # Min: 1
        # Max: 2147483647
        I:"Tick Delay"=50

        # By default, MC adds 0-9 ticks to each tick delay
        # 
        # The lower you set this, the faster fire works (in every way), and the less random it works, time-wise (but not to any noticeable degree for the latter)
        # Min: 0
        # Max: 2147483647
        I:"Tick Delay Randomization"=9
    }

    ##########################################################################################################
    # specialtoggles
    #--------------------------------------------------------------------------------------------------------#
    # Includes whether certain sources can start fires, whether fire ignores rain, and other oddities
    ##########################################################################################################

    specialtoggles {
        # Whether fire spreading from lava is disabled
        B:"Disable Fires From Lava"=false

        # Whether fire spreading from lightning is disabled
        B:"Disable Fires From Lightning"=false

        # If set to true, fire ignores the fire resistance of humid biomes
        # 
        # This affects block destruction (burn) chance and natural fire spread chance in humid biomes
        B:"Ignore Humid Biomes"=false

        # If set to true, fire ignores rain
        # 
        # WHEN IT'S RAINING this affects chance of fire extinguishing from rain, chance of natural fire spread, and chance of fire spread when fire destroys (burns) a block
        B:"Ignore Rain"=false

        # Whether fire requires line-of-sight to spread to a new location
        B:"LOS-Only Fire Spread"=true
    }

    ##########################################################################################################
    # burnspreadchances
    #--------------------------------------------------------------------------------------------------------#
    # These determine how often fire spreads to adjacent blocks after burning a block
    ##########################################################################################################

    burnspreadchances {
        # When a fire at the MAXIMUM age (15 in vanilla) destroys (burns through) a block, the chance that the broken (burnt) block is replaced with fire
        # 
        # Does nothing if fire never destroys blocks, eg. if dontDestroyBlocks is set to true
        # 
        # Uses a full-number percentage (25 means 25% chance, 75 means 75% chance)
        # Min: 0
        # Max: 100
        I:"Max Burn Spread Chance"=75

        # When a fire at the MINIMUM age (0 in vanilla) destroys (burns through) a block, the chance that the broken (burnt) block is replaced with fire
        # 
        # Does nothing if fire never destroys blocks, eg. if dontDestroyBlocks is set to true
        # 
        # Uses a full-number percentage (25 means 25% chance, 75 means 75% chance)
        # Min: 0
        # Max: 100
        I:"Min Burn Spread Chance"=40
    }

    ##########################################################################################################
    # natural fire spread ranges
    #--------------------------------------------------------------------------------------------------------#
    # How far fire can naturally spread from one block to another in each direction
    ##########################################################################################################

    "natural fire spread ranges" {
        # The maximum downward distance fire can naturally spread to when updating (eg. between two trees)
        # Min: 0
        # Max: 2147483647
        I:"Reach (Downwards)"=1

        # The maximum horizontal distance fire can naturally spread to when updating (eg. between two trees)
        # Min: 0
        # Max: 2147483647
        I:"Reach (Sideways)"=4

        # The maximum upward distance fire can naturally spread to when updating (eg. between two trees)
        # Min: 0
        # Max: 2147483647
        I:"Reach (Upwards)"=4
    }

    ##########################################################################################################
    # spread strengths
    #--------------------------------------------------------------------------------------------------------#
    # How much 'life' new fires have when spreading
    ##########################################################################################################

    "spread strengths" {
        # When fire spreads by destroying a block, the new fire's duration is set to the duration of the fire it came from, multiplied by this
        # 
        # Fire's lifetime is only measured in integers from 0 to 15, so if you set the percentage to anything lower than 7 it will be the same as if you set it to 0
        # 
        # Uses a full-number percentage (25 means 25% strength, 75 means 75% strength)
        # 
        # The normal vanilla fire mechanics don't use a percentage reduction like this, so set this to -1 if you want vanilla mechanics in this regard
        # Min: -1
        # Max: 100
        I:"Spread Strength (Block Burning)"=20

        # When fire spreads naturally, ie. not when it's spreading by destroying (burning) a block, the new fire's duration is set to the duration of the fire it came from, multiplied by this
        # 
        # Fire's lifetime is only measured in integers from 0 to 15, so if you set the percentage to anything lower than 7 it will be the same as if you set it to 0
        # 
        # Uses a full-number percentage (25 means 25% strength, 75 means 75% strength)
        # 
        # The normal vanilla fire mechanics don't use a percentage reduction like this, so set this to -1 if you want vanilla mechanics in this regard
        # Min: -1
        # Max: 100
        I:"Spread Strength (Natural Spread)"=10
    }

}


