# Configuration file

general {
    # The position from which commands are run when interacting with fluids
    # Can either be PLAYER or BLOCK
    S:"Fluid Interaction Command Position"=BLOCK

    # The maximum distance in blocks a fluid can be interacted with
    D:"Fluid Interaction Distance"=5.0

    # Syntax: fluid,input_item,output_item,consume[,command1;command2;command3...]
    # Example: water,minecraft:book,minecraft:paper,false,playsound block.cloth.break player @p
    S:"Fluid Interactions" <
     >

    # Syntax: input_item,output_item[,command1;command2;command3...]
    # Example: minecraft:cooked_chicken,minecraft:bone,playsound entity.skeleton.step player @p
    S:"Item Use Interactions" <
        betterwithaddons:food_mulberry,betterwithmods:material:5,tellraw @a [{"selector":"@p"},{"text":" just shat themself"}],playsound artifacts:fart player @p
        minecraft:cooked_chicken,minecraft:bone,playsound entity.skeleton.step player @p
        primitivemobs:dodo,minecraft:bone,playsound entity.skeleton.step player @p
     >
}


