# Configuration file

general {

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-Side Options
    ##########################################################################################################

    "server options" {
        # List of food items that should always be edible 
        # Format: String itemid, Int metadata (-1 for any) 
        # Example: minecraft:apple, -1
        S:"Always Edible Food Items" <
            betterwithmods:chicken_soup, -1
         >

        # List of food items with an effect to be cured and the chance to cure it 
        # Format: String itemid, Int metadata (-1 for any), String potionid, Int maxDuration (-1 for any), Int maxAmplifier (-1 for any), Float chance 
        # Example: minecraft:carrot, -1, minecraft:blindness, -1, -1, 1.0
        S:"Food Cure Effects and Chances" <
            betterwithmods:chicken_soup, -1, rats:plague, -1, -1, 1.0
            minecraft:carrot, -1, minecraft:blindness, -1, -1, 0.5
         >

        # List of food items with overall cure type to be cured and the chance to cure it 
        # Format: String itemid, Int metadata (-1 for any), CureType cureType (ALL, POSITIVE, NEGATIVE), Float chance 
        # Example: minecraft:poisonous_potato, -1, POSITIVE, 0.25
        S:"Food Cure Types and Chances" <
         >

        # List of food items and if their default onFoodEaten handling should be cancelled 
        # Format: String itemid, Int metadata (-1 for any), Boolean shouldcancel 
        # Example: minecraft:chicken, -1, true
        S:"Food Default Effect Override" <
         >

        # List of food items with their effects and chance to be applied when eaten 
        # Format: String itemid, Int metadata (-1 for any), String potionid, Int duration, Int amplifier, Boolean showparticles, Float chance 
        # Example: minecraft:chicken, -1, minecraft:hunger, 120, 0, false, 0.25
        S:"Food Effects and Chances" <
         >

        # If food items should always be edible, overrides the list
        B:"Override Always Edible"=false
    }

    ##########################################################################################################
    # compat options
    #--------------------------------------------------------------------------------------------------------#
    # Mod Compat Options
    ##########################################################################################################

    "compat options" {
        # List of food items with value to be added to intoxication and the chance to add it 
        # Intoxication is between 0 and 10000, values added can be negative 
        # Format: String itemid, Int metadata (-1 for any), Int intoxicationAddValue, Float chance 
        # Example: minecraft:poisonous_potato, -1, -2000, 0.75
        S:"MistyWorld Food Intoxication and Chances" <
         >

        # List of food items with value to be added to pollution and the chance to add it 
        # Pollution is between 0 and 10000, values added can be negative 
        # Format: String itemid, Int metadata (-1 for any), Int pollutionAddValue, Float chance 
        # Example: minecraft:apple, -1, 1000, 0.5
        S:"MistyWorld Food Pollution and Chances" <
         >
    }

}


