# Configuration file

general {
    # Requires restart. Ram usage (in MB) = (x * 16 * 2) ^ 3 / 4
    I:cacheSize=12
    B:cachelessMode=false
    B:debug=false
    B:debugCullInfo=false
    B:debugRenderBoxes=false
    B:disabledInSpectator=true

    # Disable all changes from this mod.
    B:enabled=true
    D:raytraceThreshold=1.0

    # Skip rendering of entities that are not visible (hidden behind blocks). Bosses will be rendered normally. This might cause issues where an entity is partly behind a block and thus does not get rendered but it's usually not really noticable.
    B:skipHiddenEntityRendering=true

    # Tile entities which will always be rendered. (Format: 'modid:entity_name')
    S:skipHiddenEntityRenderingBlacklist <
     >

    # Entities with a width or height greater than this value will always get rendered.
    # Min: 0.0
    # Max: 256.0
    D:skipHiddenEntityRenderingSize=3.0

    # Skip rendering of entities that are not visible (hidden behind blocks). This might cause issues where a tile entity is partly behind a block and thus does not get rendered but it's usually not really noticable.
    B:skipHiddenTileEntityRendering=true

    # Tile entities which will always be rendered. (Format: 'modid:tile_entity_name')
    S:skipHiddenTileEntityRenderingBlacklist <
     >

    # Tile entities with a width or height greater than this value will always get rendered.
    # Min: 0.0
    # Max: 256.0
    D:skipHiddenTileEntityRenderingSize=3.0
    S:tileEntityCachedBoundingBoxBlacklist <
     >
    B:tileEntityCachedBoundingBoxEnabled=true
    I:tileEntityCachedBoundingBoxUpdateInterval=100

    entity {
        B:alwaysRenderBosses=true
        B:alwaysRenderEntitiesWithName=true
        B:alwaysRenderPlayers=true
        B:alwaysRenderViewEntity=true
        B:skipHiddenEntityRendering=true
        S:skipHiddenEntityRenderingBlacklist <
         >
        D:skipHiddenEntityRenderingSize=16.0
    }

    tileentity {
        B:skipHiddenTileEntityRendering=true
        S:skipHiddenTileEntityRenderingBlacklist <
         >
        D:skipHiddenTileEntityRenderingSize=16.0
    }

    optifineshaderoptions {
        B:entityShadowsCulling=true
        B:entityShadowsCullingLessAggressiveMode=true

        # Min: 0.0
        # Max: 64.0
        D:entityShadowsCullingLessAggressiveModeDiff=4.0
        B:entityShadowsDistanceLimited=true
        B:entityShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:entityShadowsMaxDistance=4.0
        B:terrainShadowsDistanceLimited=true
        B:terrainShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:terrainShadowsMaxHorizontalDistance=8.0

        # Min: 0.0
        # Max: 64.0
        D:terrainShadowsMaxVerticalDistance=4.0
        B:tileEntityShadowsCulling=true
        B:tileEntityShadowsCullingLessAggressiveMode=true

        # Min: 0.0
        # Max: 64.0
        D:tileEntityShadowsCullingLessAggressiveModeDiff=4.0
        B:tileEntityShadowsDistanceLimited=true
        B:tileEntityShadowsEnabled=true

        # Min: 0.0
        # Max: 64.0
        D:tileEntityShadowsMaxDistance=4.0
    }

}


