# Configuration file

creepers {
    # Ignores the listing and allows any mob to have a Creeper rider [default: true]
    B:"All Creeper Jockeys"=false

    # Creepers will attempt to blast through walls [default: true]
    B:Breaching=false

    # AND HIS NAME IS... [range: 0 ~ 100, default: 1]
    I:Creeper=0

    # The chance a Creeper will spawn riding another mob [range: 0 ~ 100, default: 10]
    I:"Creeper Jockey Chance"=2

    # Sets which mobs can spawn with Creepers riding them [default: ]
    S:"Creeper Jockey Mobs" <
        minecraft:spider
     >

    # Creeper detonations leave behind flaming craters [default: true]
    B:Napalm=false

    # The chance a Creeper will spawn pre-powered [range: 0 ~ 100, default: 10]
    I:"Powered Rarity"=1

    # Creepers will continue approaching their target while arming [default: true]
    B:"Walking Fuse"=true
}


general {
    # Mobs that are exempt from AI modifications [default: [minecraft:villager_golem]]
    S:"AI Blacklist" <
        minecraft:villager_golem
        toroquest:toroquest_guard
        netherex:gold_golem
        minecraft:iron_golem
        mowziesmobs:ferrous_wroughtnaut
        iceandfire:myrmex_queen
        mowziesmobs:frostmaw
        iceandfire:cyclops
        minecraft:elder_guardian
        minecraft:guardian
        rats:rat
     >

    # Prevents players skipping the night through sleep [default: false]
    B:"Allow Sleep"=true

    # Mobs will attack any player owned pets they find [default: true]
    B:"Attack Pets"=false

    # How far mobs can see potential targets [range: 0 ~ 2147483647, default: 64]
    I:"Awareness Radius"=12

    # Everyone one and everything is a target [default: false]
    B:"Chaos Mode"=false

    # The interval in which 'hard' days will occur where mob spawning is increased and lighting is ignored (0 = off, default = 8/full moon) [range: 0 ~ 2147483647, default: 8]
    I:"Hardcore Day Cycle"=0

    # Hides update notifications [default: false]
    B:"Hide Updates"=false

    # Maximum number of attackers per target [range: 0 ~ 128, default: 16]
    I:"Pathing Cap"=20

    # Temporary invulnerability in ticks when respawning and teleporting [range: 0 ~ 2147483647, default: 200]
    I:"Resistance Cooldown"=200

    # Allows mobs to attack villagers as they would players [default: true]
    B:"Villager Targeting"=false

    # Distance mobs can sense targets through walls [range: 0 ~ 2147483647, default: 64]
    I:"Xray Mobs"=12
}


other {
    # Animals will fight back if provoked [default: true]
    B:"Animals Retaliate"=false

    # The factor by which mob health and damage multipliers will be increased when bosses are killed [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:"Boss Kill Modifier"=0.0

    # Enabled boss kill modifier on damage dealt [default: true]
    B:"Boss Mod Damage"=false

    # Enabled boss kill modifier on health [default: true]
    B:"Boss Mod Health"=false

    # Enabled boss kill modifier on knockback resistance [default: false]
    B:"Boss Mod Knockback Resist"=false

    # Enabled boss kill modifier on movement speed [default: false]
    B:"Boss Mod Speed"=false

    # List of mobs that can pillar up and build stairs [default: [minecraft:zombie]]
    S:"Building Mobs" <
        specialmobs:specialzombie
        specialmobs:hungryzombie
        specialmobs:brutezombie
        specialmobs:plaguezombie
        specialmobs:fishingzombie
        specialmobs:firezombie
        specialmobs:giantzombie
        minecraft:enderman
        minecraft:zombie_villager
        minecraft:zombie
        zombie_players:zombie_player
        primitivemobs:goblin
        quark:dweller
        minecraft:vindication_illager
        specialmobs:bruteskeleton
     >

    # How common demolition variants are [range: 0 ~ 100, default: 10]
    I:"Demolition Chance"=1

    # List of mobs that can drop live TNT [default: [minecraft:zombie]]
    S:"Demolition Mobs" <
        minecraft:zombie
        specialmobs:specialzombie
        specialmobs:hungryzombie
        specialmobs:brutezombie
        specialmobs:plaguezombie
        specialmobs:fishingzombie
        specialmobs:firezombie
        specialmobs:giantzombie
        minecraft:zombie_villager
        primitivemobs:goblin
        specialmobs:bruteskeleton
     >

    # Blocks blacklisted from digging mobs (Format: 'minecraft:wool:1') [default: ]
    S:"Digging Blacklist" <
     >

    # List of mobs that can dig through blocks [default: [minecraft:zombie]]
    S:"Digging Mobs" <
        minecraft:zombie
        minecraft:zombie_villager
        minecraft:husk
        specialmobs:specialzombie
        specialmobs:hungryzombie
        specialmobs:brutezombie
        specialmobs:plaguezombie
        specialmobs:fishingzombie
        specialmobs:firezombie
        specialmobs:giantzombie
        quark:dweller
        primitivemobs:goblin
        zombie_players:zombie_player
        minecraft:vindication_illager
        specialmobs:brutepigzombie
        specialmobs:fishingpigzombie
        specialmobs:giantpigzombie
        specialmobs:hungrypigzombie
        specialmobs:knightpigzombie
        specialmobs:plaguepigzombie
        specialmobs:vampirepigzombie
        specialmobs:brutewitherskeleton
        specialmobs:gatlingwitherskeleton
        specialmobs:giantwitherskeleton
        specialmobs:knightwitherskeleton
        specialmobs:ninjawitherskeleton
        specialmobs:sniperwitherskeleton
        specialmobs:spitfirewitherskeleton
        minecraft:silverfish
     >

    # Digging mobs require the proper tools to dig [default: true]
    B:"Digging Tools Only"=true

    # Mobs will strafe more than normal and avoid imminent explosions [default: true]
    B:"Evasive AI"=true

    # What blocks will be targeted for destruction when idle (Light sources included by default. Format: 'minecraft:wool:1') [default: [minecraft:chest], [minecraft:furnace], [minecraft:crafting_table], [minecraft:melon_stem], [minecraft:pumpkin_stem], [minecraft:fence_gate], [minecraft:melon_block], [minecraft:pumpkin], [minecraft:glass], [minecraft:glass_pane], [minecraft:stained_glass], [minecraft:stained_glass_pane], [minecraft:carrots], [minecraft:potatoes], [minecraft:brewing_stand], [minecraft:enchanting_table], [minecraft:cake], [minecraft:ladder], [minecraft:wooden_door], [minecraft:farmland], [minecraft:bookshelf], [minecraft:sapling], [minecraft:bed], [minecraft:fence], [minecraft:planks]]
    S:"General Griefable Blocks" <
     >

    # Dying to zombies will turn your corpse into one of them [default: true]
    B:"Infectious Zombies"=false

    # Use the digging blacklist as a whitelist instead [default: false]
    B:"Invert Digging Blacklist"=false

    # Mobs are passive until provoked [default: false]
    B:"Neutral Mobs"=false

    # The block zombies use to pillar up with [default: minecraft:cobblestone:0]
    S:"Pillaring Block"=minecraft:dirt

    # Allows Enderman to teleport the player instead of themelves [default: true]
    B:"Player Teleport"=false

    # The chance a Spider will web its target to the ground [range: 0 ~ 100, default: 25]
    I:"Webbing Chance"=0

    # List of custom potion types witches can throw ("id:duration:lvl") [default: [minecraft:harming:1:0], [minecraft:slowness:300:0], [minecraft:blindness:300:0], [minecraft:poison:300:0], [minecraft:weakness:300:1], [minecraft:mining_fatigue:300:2]]
    S:"Witch Potions" <
        minecraft:harming:1:0
        minecraft:slowness:300:0
        minecraft:blindness:300:0
        minecraft:poison:300:0
        minecraft:weakness:300:1
        minecraft:mining_fatigue:300:2
        potioncore:dispel:1:1
        potioncore:klutz:300:1
        potioncore:vulnerable:300:0
        potioncore:magic_inhibition:300:1
        potioncore:launch:1:1
        potioncore:broken_armor:300:0
        potioncore:disorganization:1:1
        potioncore:perplexity:200:0
        potioncore:weight:300:0
        extraalchemy:effect.freezing:50:0
        extraalchemy:effect.dislocation:300:0
        extraalchemy:effect.pacifism:300:0
        extraalchemy:effect.recall:100:0
        extraalchemy:effect.fuse:100:0
     >
}


skeletons {
    # How likely Skeletons are to miss their target [range: 0 ~ 2147483647, default: 0]
    I:"Arrow Error"=5

    # How far away can Skeletons shoot from [range: 1 ~ 2147483647, default: 64]
    I:"Fire Distance"=32

    # The chance a skeleton will spawn as Wither in other dimensions [range: 0 ~ 100, default: 10]
    I:"Wither Skeleton Chance"=1
}


