# Configuration file

~CONFIG_VERSION: 1.0

advanced {

    esmcore {

        additions {
            # No description.
            # ConfigName : useAnimalAttack
            B:useAnimalAttack=true

            # No description.
            # ConfigName : useAnimalRetaliate
            B:useAnimalRetaliate=true

            # No description.
            # ConfigName : useAvoidExplosives
            B:useAvoidExplosives=true

            # No description.
            # ConfigName : useDemolition
            B:useDemolition=true

            # No description.
            # ConfigName : useDigger
            B:useDigger=true

            # No description.
            # ConfigName : useGriefing
            B:useGriefing=true

            # No description.
            # ConfigName : usePillaring
            B:usePillaring=true
        }

        modifiers {
            # No description.
            # ConfigName : useAttackMelee
            B:useAttackMelee=true

            # No description.
            # ConfigName : useRangedAttack
            B:useRangedAttack=true

            # No description.
            # ConfigName : useBowAttack
            B:useBowAttack=true

            # No description.
            # ConfigName : useZombieAttack
            B:useZombieAttack=true

            # No description.
            # ConfigName : useCreeperSwell
            B:useCreeperSwell=true

            # No description.
            # ConfigName : useNearestAttackable
            B:useNearestAttackable=true

            # No description.
            # ConfigName : useNoPanic
            B:useNoPanic=true

            # No description.
            # ConfigName : useSwimming
            B:useSwimming=true

            # No description.
            # ConfigName : useAvoidVillager
            B:useAvoidVillager=true

            # No description.
            # ConfigName : useWander
            B:useWander=true
        }

        handlers {
            # Affects various important ESM features.
            # Disabling this may disable a lot of features.
            # ConfigName : useMainHandler
            B:useMainHandler=true

            # No description.
            # ConfigName : useEntityHandler
            B:useEntityHandler=true

            # No description.
            # ConfigName : usePlayerHandler
            B:usePlayerHandler=true

            # Allows changes for Creepers such as the chance to spawn charged and causing fire on explosion.
            # ConfigName : useCreeperHandler
            B:useCreeperHandler=true

            # Allows changes for Endermen such as teleporting their target instead of themselves.
            # ConfigName : useEndermanHandler
            B:useEndermanHandler=true

            # Allows changes for Spiders such as placing webs on hit.
            # ConfigName : useSpiderHandler
            B:useSpiderHandler=true

            # Allows changes for Skeletons such as the chance to spawn as Wither Skeleton and configurable arrow tips.
            # ConfigName : useSkeletonHandler
            B:useSkeletonHandler=true

            # Allows changes for Witches such as configurable thrown potions.
            # ConfigName : useWitchHandler
            B:useWitchHandler=true

            # Allows 'infected' players to get turned into zombies on death.
            # ConfigName : useZombieHandler
            B:useZombieHandler=true
        }

        other {
            # Overrides mobs 'Senses' and enables 'XRay Distance' feature.
            # ConfigName : useSenses
            B:useSenses=true

            # Overrides mobs 'Navigator', which affects mobs pathing in general.
            # ConfigName : useNavigator
            B:useNavigator=true
        }

    }

}


ai {

    general {
        # When a mob that has an AI dies, it gets one last task update. If the tweaked digging AI is used, this allows for partially mined blocks to be visually reset to their unmined state when the mob dies. Enabling this option may or may not lead to unexpected issues for other AI types.
        # ConfigName : updateAITaskOnDeath
        B:updateAITaskOnDeath=true

        # Disables Xray Vision feature for mobs and ignores ESM 'Xray Distance' config values.
        # Takes effect for newly spawned/created entities or on server/world restart.
        # ConfigName : disableXRay
        B:disableXRay=false
    }

    digging {
        # Replaces ESM Digging AI by this mod's one (which is based on it). This is required for other AI options to take effect.
        # Can only be changed when the server/world is not running.
        # ConfigName : useTweakedAI
        B:useTweakedAI=true

        # Mobs that can break blocks will only be able to do so if they have the right tool for it. (They cannot break blocks that require specific tool class/level without such tool, as defined by ToolProgression mod). Disabling this option allows them to break any 'breakable' block by hand.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : mustHaveCorrectTool
        B:mustHaveCorrectTool=true

        # Checks digging mob's main and off hand if a tool is required to break the block.
        # Requires: "Use Tweaked AI", "Mob Tool Check", to be enabled.
        # ConfigName : checkBothHands
        B:checkBothHands=true

        # Defines how many ticks the mob waits between each attempt to find a block to break. Even if the block cannot be broken, each check counts as an attempt, which means the mob waits again, and repeats this process until he finds a valid block or dies.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : searchBlockInterval
        I:searchBlockInterval=1

        # Defines how often (in ticks) the periodical check to determine if the mob is still capable of harvesting the currently mined block is run. As an example, if a mob were to break its tool while mining a block that requires it, he is going to continue mining it (at reduced speed) for the set time.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : harvestCheckInterval
        I:harvestCheckInterval=20

        # When enabled, digging mobs may get a chance to obtain a pickaxe when spawned. Even if this setting is disabled, they can still get one or other items that way from minecraft vanilla behavior or other mods. This setting only gives them 'another chance' to get one.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : shouldGetExtraTool
        B:shouldGetExtraTool=false

        # If this is enabled and digging mobs get the chance to receive the pickaxe on spawn, then the pickaxe replaces whatever that mob was holding in its main hand, else the pickaxe is not received and the main hand item is kept.
        # Requires: "Use Tweaked AI", "Receive Pickaxe On Spawn", to be enabled.
        # ConfigName : overrideTool
        B:overrideTool=false

        # The probability for the digging mob to be given a pickaxe when spawning.
        # 0 = never gets one, 100 = always gets it.
        # Requires: "Use Tweaked AI", "Receive Pickaxe On Spawn", to be enabled.
        # ConfigName : extraToolChance
        I:extraToolChance=25

        # Uses Epic Siege Mod original verification method to check if the mob is allowed to mine the block or not.
        # Takes priority over other settings.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : legacyHarvestCheck
        B:legacyHarvestCheck=false

        # Enables or disables digging sounds made by mobs (while they are mining a block). This does not affect sounds made when the block breaks.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : diggingSounds
        B:diggingSounds=true

        # Digging speed multipler for mobs. It directly multiplies the speed at which mobs break a block by this value. A block that would normally take 12.5 seconds to break by a specific mob will take 25 seconds instead if this value is set to 0.5. Blocks with 0 hardness are unaffected by this setting.
        # 0 = instant mining, 1.0 = normal speed, 2.0 = 2x faster
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : digSpeedMultiplier
        D:digSpeedMultiplier=1.0
    }

    attack {

        melee {
            # Replaces ESM AttackMelee AI by this mod's one (which is based on). Only affects mobs that had this AI changed by ESM. This is required for other AI options to take effect.
            # Can only be changed when the server/world is not running.
            # ConfigName : useTweakedAI
            B:useTweakedAI=true

            # If enabled, the type of memory will be forced to 'long' for all mobs with this AI. If disabled, uses the mob's original memory type defined by minecraft but might negatively impacts ESM 'Xray Distance' feature. This affects attack rate, AI updates frequency, and potentially other things.
            # Fully takes effect on newly spawned/created entities or on server/world restart.
            # Requires: "Use Tweaked AI", to be enabled.
            # ConfigName : forceLongMemory
            B:forceLongMemory=true

            # If enabled, allows for custom attack delays to be defined. A random delay in ticks between min and max is set after each attack. If disabled, it uses Minecraft's default delay of 20 ticks per attack. Delays dont always exactly match with game ticks.
            # Min and max delays are set from the next 2 options. 
            # Requires: "Force Long Memory", "Use Tweaked AI", to be enabled.
            # ConfigName : useCustomAttackDelay
            B:useCustomAttackDelay=true

            # Defines the minimum amount of ticks a mob waits between each attack.
            # 20 ticks = 1 second
            # Requires: "Force Long Memory", "Set Custom Attack Delay", "Use Tweaked AI", to be enabled.
            # ConfigName : minAttackDelay
            I:minAttackDelay=10

            # Defines the maximum amount of ticks a mob waits between each attack.
            # 20 ticks = 1 second
            # Requires: "Force Long Memory", "Set Custom Attack Delay", "Use Tweaked AI", to be enabled.
            # ConfigName : maxAttackDelay
            I:maxAttackDelay=20
        }

    }

}


debug {
    # Debug mode toogle.
    # Must be enabled for options in this category to work.
    # ConfigName : enableDebug
    B:enableDebug=false

    # When left-clicking a block, a message saying if the block can be broken with the current held tool (defaults to mainhand) will be shown.
    # Requires: "Enable Debug", to be enabled.
    # ConfigName : displayCanBreakBlockMessage
    B:displayCanBreakBlockMessage=false

    # When left-clicking a block, some of its properties and infos related to block breaking will be output to the chat.
    # Requires: "Enable Debug", to be enabled.
    # ConfigName : displayBlockInfoInChat
    B:displayBlockInfoInChat=false

    # The offhand held item will be used instead of main hand one for debug messages checks. This makes it easier for left clicking in creative mode with less destructive items such as swords.
    # ConfigName : useOffHandItem
    B:useOffHandItem=false

    # Sets the global log level for this mod's logging messages.
    # ConfigName : loggingLevel
    S:loggingLevel=INFO
}


