# Configuration file

general {
    # The light level of each heater block state.
    # Min: 0
    # Max: 15
    I:heaterLightLevels <
        0
        4
        12
        13
        15
        5
        6
        7
        8
        9
        10
        11
        12
        13
        14
        15
     >

    # Should the nether alembic inherit recipes from the alembic?
    B:netherAlembicInherit=true

    # Zen: Foundry temperatures, in centikelvins, for each heater heat level.
    # Min: 1
    # Max: 2147483647
    I:zenFoundryHeaterTemps <
        100000
        200000
        300000
        400000
        500000
        600000
        700000
        800000
        900000
        1000000
        1100000
        1200000
        1300000
        1400000
        1500000
        1600000
        1700000
        1800000
        1900000
        2000000
        2100000
        2200000
        2300000
        2400000
        2500000
        2600000
        2700000
        2800000
        2900000
        3000000
     >
}


