# Configuration file

main {

    client {

        clock_hud {
            # If set to false, the clock will not render under any circumstances.
            B:Enabled=true

            # Sets the position of the clock HUD element. Entering negative numbers will anchor the clock to the right/bottom of the screen. [range: -2147483648 ~ 2147483647, default: 5]
            I:"Position X"=5

            # Sets the position of the clock HUD element. Entering negative numbers will anchor the clock to the right/bottom of the screen. [range: -2147483648 ~ 2147483647, default: 5]
            I:"Position Y"=5

            # If enabled, the clock HUD will show at all times. Otherwise, you must either be above ground, able to see the sky, or have a watch.
            B:"Show Always"=false

            # Displays the exact time when the player has a pocket watch in their inventory.
            B:"Show Time With Pocket Watch"=true

            # Positioning of time text, relative to the clock bar. AUTO will position it either LEFT or RIGHT, depending on where the clock bar is anchored.
            # Valid values: [AUTO, LEFT, RIGHT, TOP, BOTTOM] [default: AUTO]
            S:"Text Position"=AUTO

            # Display time with a 12-hour clock (AM/PM instead of 24-hour).
            B:"Use 12-Hour Clock"=false
        }

        sky {
            # Override sky rendering. Without this, the sun/moon will likely freeze during extended periods. Disable if this feature conflicts with another mod.
            B:"Override Sky Rendering"=false
        }

    }

    debug {
        # When enabled, additional information may be logged or displayed on screen.
        B:"Debug Mode Enabled"=false
    }

    compatibility {
        # Override the Morpheus new day handler to allow time to advance correctly.
        B:"Morpheus Support"=false
    }

    network {
        # The delay (in ticks) between sync packets being sent to the client. [range: 1 ~ 2147483647, default: 20]
        I:"Packet Delay"=20
    }

    time {
        # Sets the times of day/night that will be "extended". Each line contains two values separated by a space. The first is the time of the day to add the period (in ticks, whole number between 0 and 23999, same as the numbers you would use in the "/time set" command). The second is the number of minutes to add (real minutes, not ticks! You can use non-whole numbers if you want to). [default: [6000 30], [18000 10]]
        S:"Extended Periods" <
            3000 10
            16000 10
         >
    }

}


