# Configuration file

"base materials" {
    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:ender=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glowstone=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:redstone=DISABLED
}


"base metals" {
    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:alumina=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:aluminium=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:brass=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:bronze=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:cobalt=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:constantan=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:copper=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:electrum=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:gold=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:iridium=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:iron=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:lead=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:nickel=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:platinum=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:silver=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:steel=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:tin=ENABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:uranium=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:zinc=DISABLED
}


debug {
    # Enable debug logging. [default: false]
    B:debug=false
}


general {
    # Casting Table Uncrafting [default: true]
    B:"Casting Table Uncrafting"=true

    # Casting Tick per Ingot [range: 1 ~ 20000, default: 81]
    I:"Casting Tick"=81

    # If foundry's CraftTweaker integration logs errors instead of info [default: true]
    B:"CrT Errors"=true

    # Max temperatures for advanced crucibles (in 1/100 deg Ks). [range: 0 ~ 2147483647, default: 400000]
    I:"Crucible (Advanced) Max Temperature"=400000

    #  [range: 0 ~ 2147483647, default: 90]
    I:"Crucible (Advanced) Temperature Loss Rate"=90

    # Max temperatures for basic crucibles (in 1/100 deg Ks). [range: 0 ~ 2147483647, default: 200000]
    I:"Crucible (Basic) Max Temperature"=200000

    #  [range: 0 ~ 2147483647, default: 75]
    I:"Crucible (Basic) Temperature Loss Rate"=75

    # Max temperatures for standard crucibles (in 1/100 deg Ks). [range: 0 ~ 2147483647, default: 250000]
    I:"Crucible (Standard) Max Temperature"=250000

    #  [range: 0 ~ 2147483647, default: 80]
    I:"Crucible (Standard) Temperature Loss Rate"=80

    # Burner Heater can accepet all furnace fuels. [default: true]
    B:"Enable Default Burner Fuel"=false

    # The value, in mB, of an ingot. [range: 36 ~ 2147483647, default: 144]
    I:"Fluid Ingot Value"=144

    # The value, in mB, of an ore. [range: 1 ~ 2147483647, default: 288]
    I:"Fluid Ore Value"=192

    # If the Metal Caster requires power to operate. [default: true]
    B:"Metal Caster Power"=false

    # default_burner_exoflame_heat (in 1/100 deg Ks) [range: 30000 ~ 2147483647, default: 300000]
    I:default_burner_exoflame_heat=300000

    # default_burner_fuel_heat (in 1/100 deg Ks) [range: 30000 ~ 2147483647, default: 100000]
    I:default_burner_fuel_heat=100000
}


glass {
    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_black=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_blue=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_brown=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_cyan=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_gray=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_green=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_light_blue=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_lime=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_magenta=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_orange=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_pink=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_purple=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_red=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_silver=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_white=DISABLED

    # Valid values: ENABLED, DISABLED, NO_RECIPES [default: ENABLED]
    S:glass_yellow=DISABLED
}


##########################################################################################################
# hardcore
#--------------------------------------------------------------------------------------------------------#
# These settings increase the game harder by altering vanilla recipes.
##########################################################################################################

hardcore {
    # Remove 9 ingots to block crafting recipes. [default: false]
    B:remove_block_from_ingots=false

    # Remove 9 nuggets to ingot crafting recipes. [default: false]
    B:remove_ingot_from_nuggets=false

    # Remove furnace recipes that produce ingots. [default: false]
    B:remove_ingots_from_furnace.enable=false

    # Material names of ingots to keep furnace recipes (case sensitive). [default: [Copper], [Tin], [Zinc], [Bronze], [Brass], [Lead]]
    S:remove_ingots_from_furnace.keep <
        Copper
        Tin
        Zinc
        Bronze
        Brass
        Lead
     >
}


integration {

    crafttweaker {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

}


recipes {
    # The priority sorted MODIDs for Foundry recipes to try using. [default: [minecraft], [thermalfoundation], [substratum], [ic2], [mekanism], [immersiveengineering], [techreborn]]
    S:"Preferred Mod ID Priority" <
        minecraft
        thermalfoundation
        substratum
        ic2
        mekanism
        immersiveengineering
        techreborn
     >

    # Enable/disable alumina melting directly into aluminium. [default: false]
    B:alumina_melts_to_aluminium=false

    # Enable/disable casting recipes for equipment [default: true]
    B:equipment=true

    # Enable/disable glass melting and casting recipes [default: true]
    B:glass=false

    # Register recipes of tools from Thermal Foundation anyway or not. [default: false]
    B:register_tf_tool_recipes_anyway=false

    # Enable/disable steel infuser recipes [default: true]
    B:steel=false
}


