# Configuration file

##########################################################################################################
# changer
#--------------------------------------------------------------------------------------------------------#
# This section allows you to change attributes of items. Each "change" takes 1 line with the following format:
# property;item;value
# 
# property: The property you want to change. Allowed properties: ARMOR_PROTECTION, ARMOR_TOUGHNESS, ATTACK_DAMAGE, ATTACK_SPEED, DURABILITY, EFFICIENCY, ENCHANTABILITY, HARVEST_LEVEL, STACKSIZE
# item: The id of the item. This is usually the mod id (or "minecraft" for vanilla) followed by a colon followed by the item name. e.g. minecraft:iron_sword
# value: The new value for the property.
# 
# Keep in mind that changing the enchantability or harvest level affects the whole tool material, which means that you technically only need to change it for one tool.
# Unfortunately this also means that changing those attributes for one item also applies the change to every item with the same tool material (example below).
# Also, you can't change the attack speed of swords at the moment. Sorry!
# 
# Examples:
# 
# ATTACK_DAMAGE;minecraft:iron_axe;12
# (Increases the attack damage of every iron axe to 12)
# 
# DURABILITY;minecraft:diamond_sword;500
# DURABILITY;minecraft:diamond_pickaxe;500
# DURABILITY;minecraft:diamond_axe;500
# DURABILITY;minecraft:diamond_shovel;500
# DURABILITY;minecraft:diamond_hoe;500
# (Decreases the durability of every vanilla diamond tool to 500)
# 
# DURABILITY;minecraft:flint_and_steel;-1
# (Makes flint and steel unbreakable)
# 
# STACKSIZE;minecraft:snowball;64
# (Increases the stacksize of snowballs to 64)
# 
# HARVEST_LEVEL;minecraft:diamond_pickaxe;0
# (Decreases the harvest level of diamond pickaxes to 0. They can't even mine iron ore now)
# 
# ARMOR_PROTECTION;minecraft:leather_helmet;3
# ARMOR_PROTECTION;minecraft:leather_chestplate;8
# ARMOR_PROTECTION;minecraft:leather_leggings;6
# ARMOR_PROTECTION;minecraft:leather_boots;3
# ARMOR_TOUGHNESS;minecraft:leather_helmet;2
# ARMOR_TOUGHNESS;minecraft:leather_chestplate;2
# ARMOR_TOUGHNESS;minecraft:leather_leggings;2
# ARMOR_TOUGHNESS;minecraft:leather_boots;2
# (Makes leather armor as protective as diamond armor)
# 
# ARMOR_PROTECTION;minecraft:golden_helmet;2
# ARMOR_PROTECTION;minecraft:golden_chestplate;6
# ARMOR_PROTECTION;minecraft:golden_leggings;5
# ARMOR_PROTECTION;minecraft:golden_boots;2
# ARMOR_TOUGHNESS;minecraft:golden_helmet;3
# ARMOR_TOUGHNESS;minecraft:golden_chestplate;3
# ARMOR_TOUGHNESS;minecraft:golden_leggings;3
# ARMOR_TOUGHNESS;minecraft:golden_boots;3
# ATTACK_DAMAGE;minecraft:golden_sword;6.5
# ATTACK_DAMAGE;minecraft:golden_pickaxe;4.5
# ATTACK_DAMAGE;minecraft:golden_axe;9
# ATTACK_DAMAGE;minecraft:golden_shovel;5
# ATTACK_SPEED;minecraft:golden_axe;0.95
# ATTACK_SPEED;minecraft:golden_hoe;3.5
# DURABILITY;minecraft:golden_helmet;212
# DURABILITY;minecraft:golden_chestplate;308
# DURABILITY;minecraft:golden_leggings;289
# DURABILITY;minecraft:golden_boots;250
# DURABILITY;minecraft:golden_sword;420
# DURABILITY;minecraft:golden_pickaxe;420
# DURABILITY;minecraft:golden_axe;420
# DURABILITY;minecraft:golden_shovel;420
# DURABILITY;minecraft:golden_hoe;420
# EFFICIENCY;minecraft:golden_pickaxe;7
# EFFICIENCY;minecraft:golden_axe;7
# EFFICIENCY;minecraft:golden_shovel;7
# HARVEST_LEVEL;minecraft:golden_pickaxe;2
# ENCHANTABILITY;minecraft:golden_pickaxe;16
# ENCHANTABILITY;minecraft:golden_helmet;19
# (Better Gold: Changes golden tools, swords and armor properties completley. As you can see, I only changed the enchantability for one tool and one armor item since it affects the whole gold material)
##########################################################################################################

changer {
    #  [default: ]
    S:changer <
        ATTACK_SPEED;minecraft:wooden_axe;0.5
        ATTACK_SPEED;minecraft:stone_axe;0.5
        ATTACK_SPEED;atop:mud_axe;0.5
        ATTACK_SPEED;minecraft:iron_axe;0.5
        ATTACK_SPEED;minecraft:golden_axe;0.5
        ATTACK_SPEED;dungeontactics:silver_axe;0.5
        ATTACK_SPEED;minecraft:diamond_axe;0.5
        ATTACK_SPEED;simpleores:adamantium_axe;0.5
        ATTACK_SPEED;simpleores:mythril_axe;0.5
        ATTACK_SPEED;simpleores:onyx_axe;0.5
        ATTACK_SPEED;aether_legacy:valkyrie_axe;0.5
        ATTACK_SPEED;betterwithmods:steel_axe;0.5
        ATTACK_SPEED;aether_legacy:skyroot_axe;0.5
        ATTACK_SPEED;aether_legacy:holystone_axe;0.5
        ATTACK_SPEED;aether_legacy:zanite_axe;0.5
        ATTACK_SPEED;aether_legacy:gravitite_axe;0.5
        ATTACK_SPEED;iceandfire:dragonbone_axe;0.5
        ATTACK_SPEED;simpleores:copper_axe;0.5
        ATTACK_SPEED;netherex:frosted_amedian_axe;0.5
        
        
        
        HARVEST_LEVEL;netherex:frosted_amedian_pickaxe;3
        HARVEST_LEVEL;iceandfire:dragonbone_pickaxe;3
        
        ARMOR_PROTECTION;atop:mud_helmet;1
        ARMOR_TOUGHNESS;atop:mud_helmet;1
        DURABILITY;atop:mud_helmet;199
        ARMOR_PROTECTION;atop:mud_chestplate;5
        ARMOR_TOUGHNESS;atop:mud_chestplate;1
        DURABILITY;atop:mud_chestplate;274
        ARMOR_PROTECTION;atop:mud_leggings;4
        ARMOR_TOUGHNESS;atop:mud_leggings;1
        DURABILITY;atop:mud_leggings;259
        ARMOR_PROTECTION;atop:mud_boots;1
        ARMOR_TOUGHNESS;atop:mud_boots;1
        DURABILITY;atop:mud_boots;229
        ENCHANTABILITY;atop:mud_helmet;17
        ENCHANTABILITY;atop:mud_chestplate;17
        ENCHANTABILITY;atop:mud_leggings;17
        ENCHANTABILITY;atop:mud_boots;17
        ENCHANTABILITY;atop:mud_sword;17
        DURABILITY;atop:mud_pickaxe;295
        DURABILITY;atop:mud_axe;295
        DURABILITY;atop:mud_shovel;295
        DURABILITY;atop:mud_hoe;295
        DURABILITY;atop:mud_sword;295
        ATTACK_DAMAGE;atop:mud_sword;6
        HARVEST_LEVEL;atop:mud_pickaxe;3
        EFFICIENCY;atop:mud_pickaxe;6
        EFFICIENCY;atop:mud_axe;6
        EFFICIENCY;atop:mud_shovel;6
        
        DURABILITY;dungeontactics:fire_starter;1
        STACKSIZE;dungeontactics:fire_starter;8
        
        STACKSIZE;dungeontactics:sharp_stick;16
        ATTACK_DAMAGE;dungeontactics:sharp_stick;2
        
        ATTACK_DAMAGE;minecraft:stone_sword;3.5
        DURABILITY;minecraft:stone_sword;99
        
        DURABILITY;minecraft:wooden_pickaxe;28
        DURABILITY;minecraft:wooden_axe;12
        DURABILITY;minecraft:fishing_rod;128
        
        DURABILITY;endreborn:tool_hammer_iron>;128
        
        
        ATTACK_DAMAGE;msmlegacy:relic_candy;20
        DURABILITY;msmlegacy:relic_candy;2000
        
        
        ATTACK_DAMAGE;twilightforest:ironwood_sword;11
        ATTACK_DAMAGE;twilightforest:fiery_sword;13
        ATTACK_DAMAGE;twilightforest:steeleaf_sword;12
        ATTACK_DAMAGE;twilightforest:knightmetal_sword;11
        ATTACK_DAMAGE;twilightforest:ironwood_sword;11
        ATTACK_DAMAGE;twilightforest:giant_sword;17
        ATTACK_DAMAGE;twilightforest:ice_sword;12.5
        ATTACK_DAMAGE;twilightforest:glass_sword;80
        
        EFFICIENCY;twilightforest:ironwood_pickaxe;9.50
        EFFICIENCY;twilightforest:fiery_pickaxe;12
        EFFICIENCY;twilightforest:steeleaf_pickaxe;11
        EFFICIENCY;twilightforest:knightmetal_pickaxe;11
        EFFICIENCY;twilightforest:giant_pickaxe;7
        DURABILITY;twilightforest:ironwood_pickaxe;912
        DURABILITY;twilightforest:fiery_pickaxe;1424
        DURABILITY;twilightforest:steeleaf_pickaxe;512
        DURABILITY;twilightforest:knightmetal_pickaxe;11
        DURABILITY;twilightforest:giant_pickaxe;1424
        
        ATTACK_DAMAGE;twilightforest:ironwood_axe;14
        ATTACK_DAMAGE;twilightforest:minotaur_axe_gold;12
        ATTACK_DAMAGE;twilightforest:steeleaf_axe;15
        ATTACK_DAMAGE;twilightforest:knightmetal_axe;15
        ATTACK_DAMAGE;twilightforest:minotaur_axe;15
        ATTACK_SPEED;twilightforest:ironwood_axe;0.5
        ATTACK_SPEED;twilightforest:minotaur_axe_gold;0.5
        ATTACK_SPEED;twilightforest:steeleaf_axe;0.5
        ATTACK_SPEED;twilightforest:knightmetal_axe;0.5
        ATTACK_SPEED;twilightforest:minotaur_axe;0.5
        EFFICIENCY;twilightforest:ironwood_axe;9.50
        EFFICIENCY;twilightforest:minotaur_axe_gold;15
        EFFICIENCY;twilightforest:steeleaf_axe;11
        EFFICIENCY;twilightforest:knightmetal_axe;11
        EFFICIENCY;twilightforest:minotaur_axe;11
        DURABILITY;twilightforest:ironwood_axe;912
        DURABILITY;twilightforest:minotaur_axe_gold;1424
        DURABILITY;twilightforest:steeleaf_axe;512
        DURABILITY;twilightforest:knightmetal_axe;912
        DURABILITY;twilightforest:minotaur_axe;1961
        
        EFFICIENCY;twilightforest:ironwood_shovel;9.50
        EFFICIENCY;twilightforest:steeleaf_shovel;11
        DURABILITY;twilightforest:ironwood_shovel;912
        DURABILITY;twilightforest:steeleaf_shovel;512
        
        
        ARMOR_PROTECTION;twilightforest:naga_chestplate;11
        ARMOR_TOUGHNESS;twilightforest:naga_chestplate;4.5
        ARMOR_PROTECTION;twilightforest:naga_leggings;9
        ARMOR_TOUGHNESS;twilightforest:naga_leggings;3.5
        
        ARMOR_PROTECTION;twilightforest:ironwood_chestplate;11
        ARMOR_TOUGHNESS;twilightforest:ironwood_chestplate;4
        ARMOR_PROTECTION;twilightforest:ironwood_helmet;4
        ARMOR_TOUGHNESS;twilightforest:ironwood_helmet;2
        ARMOR_PROTECTION;twilightforest:ironwood_leggings;8
        ARMOR_TOUGHNESS;twilightforest:ironwood_leggings;3
        ARMOR_PROTECTION;twilightforest:ironwood_boots;4
        ARMOR_TOUGHNESS;twilightforest:ironwood_boots;2
        
        ARMOR_PROTECTION;twilightforest:fiery_chestplate;13
        ARMOR_TOUGHNESS;twilightforest:fiery_chestplate;5.5
        ARMOR_PROTECTION;twilightforest:fiery_helmet;6
        ARMOR_TOUGHNESS;twilightforest:fiery_helmet;3.5
        ARMOR_PROTECTION;twilightforest:fiery_leggings;10
        ARMOR_TOUGHNESS;twilightforest:fiery_leggings;4.5
        ARMOR_PROTECTION;twilightforest:fiery_boots;6
        ARMOR_TOUGHNESS;twilightforest:fiery_boots;3.5
        
        ARMOR_PROTECTION;twilightforest:steeleaf_chestplate;12
        ARMOR_TOUGHNESS;twilightforest:steeleaf_chestplate;4
        ARMOR_PROTECTION;twilightforest:steeleaf_helmet;5
        ARMOR_TOUGHNESS;twilightforest:steeleaf_helmet;2
        ARMOR_PROTECTION;twilightforest:steeleaf_leggings;9
        ARMOR_TOUGHNESS;twilightforest:steeleaf_leggings;3
        ARMOR_PROTECTION;twilightforest:steeleaf_boots;5
        ARMOR_TOUGHNESS;twilightforest:steeleaf_boots;2
        
        ARMOR_PROTECTION;twilightforest:knightmetal_chestplate;12
        ARMOR_TOUGHNESS;twilightforest:knightmetal_chestplate;5
        ARMOR_PROTECTION;twilightforest:knightmetal_helmet;5
        ARMOR_TOUGHNESS;twilightforest:knightmetal_helmet;3
        ARMOR_PROTECTION;twilightforest:knightmetal_leggings;9
        ARMOR_TOUGHNESS;twilightforest:knightmetal_leggings;4
        ARMOR_PROTECTION;twilightforest:knightmetal_boots;5
        ARMOR_TOUGHNESS;twilightforest:knightmetal_boots;3
        
        ARMOR_PROTECTION;twilightforest:phantom_chestplate;12
        ARMOR_TOUGHNESS;twilightforest:phantom_chestplate;6.5
        ARMOR_PROTECTION;twilightforest:phantom_helmet;5
        ARMOR_TOUGHNESS;twilightforest:phantom_helmet;4.5
        
        ARMOR_PROTECTION;twilightforest:yeti_chestplate;11
        ARMOR_TOUGHNESS;twilightforest:yeti_chestplate;7
        ARMOR_PROTECTION;twilightforest:yeti_helmet;6
        ARMOR_TOUGHNESS;twilightforest:yeti_helmet;5
        ARMOR_PROTECTION;twilightforest:yeti_leggings;11
        ARMOR_TOUGHNESS;twilightforest:yeti_leggings;7
        ARMOR_PROTECTION;twilightforest:yeti_boots;5
        ARMOR_TOUGHNESS;twilightforest:yeti_boots;5
        
        ARMOR_PROTECTION;twilightforest:arctic_chestplate;11
        ARMOR_TOUGHNESS;twilightforest:arctic_chestplate;6
        ARMOR_PROTECTION;twilightforest:arctic_helmet;4
        ARMOR_TOUGHNESS;twilightforest:arctic_helmet;4
        ARMOR_PROTECTION;twilightforest:arctic_leggings;8
        ARMOR_TOUGHNESS;twilightforest:arctic_leggings;5
        ARMOR_PROTECTION;twilightforest:arctic_boots;4
        ARMOR_TOUGHNESS;twilightforest:arctic_boots;4
        
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


