# Configuration file

general {
    # Prevents disabled enchantments from being registered, use with caution
    B:"Nuclear Option"=false

    ##########################################################################################################
    # weapons
    #--------------------------------------------------------------------------------------------------------#
    # Combat Enchantment Config
    ##########################################################################################################

    weapons {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable 2 Lifesteal"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Back to the chamber"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Combo"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Cursed Jumping"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Deflect"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Disarm"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Exploding"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Fast Placing"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Floating"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Harvesting"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Homing"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Instant Death"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Lightning"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Paralysis"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Phasing"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Piercing"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Quickdraw"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Reflect"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Ricochet"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Shattering"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Solar"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Swift"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Teleportation"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Teleposistion"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Torches"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable True Shot"=DISABLED
        I:"Max Swiftness level"=1
    }

    ##########################################################################################################
    # tools
    #--------------------------------------------------------------------------------------------------------#
    # Tool Enchantment Config
    ##########################################################################################################

    tools {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Equal Mine"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Eternal"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Global Traveller"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Grappling"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Lumberjack"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Magnetic"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Momentum"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Obsidian Buster"=ANVIL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Randomness"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Resistance"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Snatching"=DISABLED

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Stonebound"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Stonelover"=NORMAL
    }

    ##########################################################################################################
    # curses
    #--------------------------------------------------------------------------------------------------------#
    # Curse Enchantment Config
    ##########################################################################################################

    curses {
        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Breaking"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Butterfingers"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Fumbling"=NORMAL

        # Valid values:
        # DISABLED
        # ANVIL
        # NORMAL
        S:"Enable Shadow"=NORMAL
    }

}


