# Configuration file

client {
    # Sets the color of active resource pack list. Valid value is a single lowercase hexadecimal character (0 to f) where '0' is black and 'f' is white [default: f]
    S:displayColor=f

    # Sets the position of active resource pack list on the screen. Valid values are: disabled, top left, top right, bottom right, bottom left [default: disabled]
    S:displayPosition=disabled

    # Internal list of enabled resource packs.
    S:enabledPacks <
     >
}


