# Configuration file

general {

    modules {
    }

    tweaks {
        # Whether to remove Nameplates
        B:"Remove Nameplates"=true
        B:curseFinalStand=false

        ##########################################################################################################
        # torchparticles
        #--------------------------------------------------------------------------------------------------------#
        # if true, torch flame particles will be replaced from (0,24) to (16,24) texture coords
        ##########################################################################################################

        torchparticles {
            # if true, GlareTorch torch flame particles will be replaced
            B:glareTorch=false

            # if true, Quark candle flame particles will be replaced
            B:quark=false

            # if true, Rustic candle flame particles will be replaced
            B:rustic=false

            # if true, vanilla torch flame particles will be replaced
            B:vanilla=false
        }

        ##########################################################################################################
        # pyrotech_speed_modifiers
        #--------------------------------------------------------------------------------------------------------#
        # Intervals at which Pyrotech machines work (every x ticks) when powered by BWM/BWE axles
        # These options override correpsonding options in the Pyrotech config, e.g. at
        # config/pyrotech/module.tech.Machine.cfg#MECHANICAL_COMPACTING_BIN#WORK_INTERVAL_TICKS
        ##########################################################################################################

        pyrotech_speed_modifiers {

            wood_axle {
                I:bellows=210
                I:compactingBin=80
                I:hammer=100
                I:hopper=80
                I:mulchSpreader=200
            }

            steel_axle {
                I:bellows=55
                I:compactingBin=20
                I:hammer=50
                I:hopper=20
                I:mulchSpreader=100
            }

        }

    }

    potions {
        B:heartsRenderSingleRow=false

        clean {
            # List of Potions preemptively cured by Clean
            S:cleanRemovedPotion <
                minecraft:poison
                minecraft:nausea
                rats:plague
             >
        }

        freezing {
            I:freezeDamageCooldown=40

            # List of Biomes where the player will lose temperature
            S:playerFreezeBiomes <
             >

            # List of Blocks+Metadata where the player will lose temperature from standing on
            S:playerFreezeBlocks <
                netherex:frostburn_ice
             >
            D:playerFreezeFadeIn=3000.0
            D:playerFreezeFadeOut=3000.0
            I:playerFreezeMaxCapacity=400
            D:playerFreezeSlowdown=0.1
            I:playerFreezeUpdateInterval=20
        }

        sweltering {
            # List of Biome+MinY+MaxY+Duration+Amp that trigger Sweltering
            S:playerSwelteringBiomes <
             >
            D:swelteringFadeIn=5000.0
            D:swelteringFadeOut=2000.0
        }

        scorching {
            D:scorchingFadeIn=2000.0
            D:scorchingFadeOut=2000.0
            I:scorchingHealthDrainCyclesNeeded=1
            I:scorchingInterval=30
        }

        webbed {
            B:webbedBarEnabled=true
            I:webbedBarXOffset=0
            I:webbedBarYOffset=0
            I:webbedGraceTicks=200
            D:webbedMaxSlowdown=0.75
            D:webbedSlowDownPerLevel=0.25
            I:webbedStruggleCount=25
            B:webbedTextEnabled=true
            I:webbedTextXOffset=0
            I:webbedTextYOffset=0
            B:webbedWasdIconEnabled=true
            I:webbedWasdIconXOffset=0
            I:webbedWasdIconYOffset=0
        }

        cooling {
            I:coolingAmplifierMultiplier=20
        }

        warming {
            I:warmingAmplifierMultiplier=20
        }

        waterbottletweak {
            I:waterBottleAmp=1
            I:waterBottleDuration=100
            S:waterBottlePotion=elenaidodge2:feathers
        }

    }

}


