# Configuration file

client {
    # Clientside config: Disables selection crafting GUIs from displaying the 'Close GUI' button, as you can use E and ESC to exit the GUI and the button could be clutter to some people.
    B:"Disable Close GUI Button"=false
}


general {
    # Block classes that should be ignored when interacting with them.
    S:"Blacklist Block Classes" <
        net.minecraft.block.BlockDoor
        net.minecraft.block.BlockTrapDoor
        net.minecraft.block.BlockFenceGate
        net.minecraft.block.BlockWorkbench
        net.minecraft.block.BlockLever
        net.minecraft.block.BlockButton
        net.minecraft.block.BlockAnvil
        net.minecraft.block.BlockRedstoneRepeater
     >
}


