# Configuration file

general {
    S:"Adaptive Crosshair Items" <
        minecraft:snowball
        minecraft:egg
        minecraft:experience_bottle
        minecraft:ender_pearl
        minecraft:splash_potion
        minecraft:fishing_rod
        minecraft:lingering_potion
     >
    B:"Always Show Crosshair"=true

    # Size of the camera adjustment per step
    D:"Camera step size"=0.025

    # Crosshair type to use for shoulder surfing
    S:"Crosshair type"=ADAPTIVE

    # The raytrace distance used for the dynamic crosshair
    D:"Custom Raytrace Distance"=400.0

    # The default perspective when you load the game
    S:"Default Perspective"=SHOULDER_SURFING
    B:"Dynamic Crosshair"=false

    # Crosshair visibility for FIRST_PERSON
    S:"FIRST_PERSON Crosshair Visibility"=ALWAYS
    B:"First Person Crosshair"=true
    B:"Ignore Blocks Without Collision"=true

    # Whether or not to hide the player model if the camera gets too close to it
    B:"Keep Camera Out Of Head"=true

    # Whether or not to limit the player reach depending on the crosshair location (perspective offset)
    B:"Limit player reach"=true

    # If x-offset is limited this is the maximum amount
    D:"Maximum x-offset"=3.0

    # If y-offset is limited this is the maximum amount
    D:"Maximum y-offset"=1.5

    # If z-offset is limited this is the maximum amount
    D:"Maximum z-offset"=5.0

    # If x-offset is limited this is the minimum amount
    D:"Minimum x-offset"=-3.0

    # If y-offset is limited this is the minimum amount
    D:"Minimum y-offset"=-1.0

    # If z-offset is limited this is the minimum amount
    D:"Minimum z-offset"=-3.0
    B:"Override Mod Crosshairs"=true

    # Whether or not to remember the last perspective used
    B:"Remember Last Perspective"=true

    # Whether or not to replace the default third person perspective
    B:"Replace Default Perspective"=true
    D:"Rotation Maximum"=60.0
    D:"Rotation Minimum"=-60.0
    D:"Rotation Offset"=-28.5

    # Crosshair visibility for SHOULDER_SURFING
    S:"SHOULDER_SURFING Crosshair Visibility"=ALWAYS
    B:"Show Crosshair Farther"=true

    # Crosshair visibility for THIRD_PERSON_BACK
    S:"THIRD_PERSON_BACK Crosshair Visibility"=NEVER

    # Crosshair visibility for THIRD_PERSON_FRONT
    S:"THIRD_PERSON_FRONT Crosshair Visibility"=NEVER
    B:"Third Person Attack Indicator"=true
    B:"Third Person Crosshair"=true
    B:"Unlimited Rotation"=false
    B:"Unlimited Zoom"=false

    # Whether or not x-offset adjustment has limits
    B:"Unlimited x-offset"=false

    # Whether or not y-offset adjustment has limits
    B:"Unlimited y-offset"=false

    # Whether or not z-offset adjustment has limits
    B:"Unlimited z-Offset"=false

    # Whether or not to use the custom raytrace distance used for the dynamic crosshair
    B:"Use Custom Raytrace Distance"=true
    D:"Zoom Maximum"=2.0
    D:"Zoom Minimum"=0.30000001192092896
    D:"Zoom Offset"=1.0099997520446777

    # Third person camera x-offset
    D:x-offset=0.75

    # Third person camera y-offset
    D:y-offset=0.0

    # Third person camera z-offset
    D:z-offset=3.0
}


