# Configuration file

general {
    # Config Versions help inform modpack makers/config users if changes have been made to the config between updates. These differ from main versioning, since the config file is static.
    # Basically, you compare the current default of this value, to the default of when you generated it.
    # 
    # The versioning follows:
    # 0.0.x - Default values have been slightly adjusted.
    # 0.x.0 - Config options have been added.
    # x.0.0 - Previous Config Options have been completely overhauled and/or removed. Creating a fresh file is recommended.
    S:configVersion=1.0.0

    ##########################################################################################################
    # elder_guardian
    #--------------------------------------------------------------------------------------------------------#
    # All config for the Mood System
    ##########################################################################################################

    elder_guardian {
        # Swaps the Elder Guardian texture with one that is double the resolution, to better match the scale of the mob.
        B:doubleResTexture=true

        # Adds a secondary glow over the eye when charging the laser attack.
        B:enableLaserGlow=true

        # Replace the Elder Guardian Renderer.
        B:enableModelReplacement=true

        # The scale of the Elder Guardian. Doesn't affect the hitbox. 
        D:modelScale=2.3499999046325684
    }

    ##########################################################################################################
    # guardian
    #--------------------------------------------------------------------------------------------------------#
    # All config for the Mood System
    ##########################################################################################################

    guardian {
        # Adds a secondary glow over the eye when charging the laser attack.
        B:enableLaserGlow=true

        # Replace the Guardian Renderer.
        B:enableModelReplacement=true
    }

}


