# Configuration file

general {
    # Set to false to prevent caves from generating above 128 (Vanilla Default) (only works with vanilla caves as other cave generating mods handle cave generation)
    B:"Allow Higher Caves"=true

    # The average ground level the world provider should return for the overworld
    I:"Average ground level"=23

    # Set to whatever value between 1-256 you wish caves to stop at
    # Min: 1
    # Max: 256
    I:"Cave Height Limit"=256

    # Set to the value you wish the sun/moon to be at. 0f = midnight
    D:"Celestial Angle Value"=0.0

    # Set to true to disable overriding the overworld world provider. Disabling this will prevent fog, sea level, celestial angle, and coloured sky options.
    B:"Disable world provider override"=false

    # Set to true or false to determine if all coordinates show or don't show fog
    B:"Fog Value (Overriden)"=false

    # Set to true to override the celestial angle and prevent the day/night cycle from having a visual
    B:"Override Celestial Angle"=false

    # Set to true to override x/y shows fog from returning default and using the value specified below
    B:"Override Fog Value"=false

    # The sea level the world provider should return for the overworld
    I:"Sea level"=63

    # Set to false to prevent the sky from being coloured
    B:"Sky Coloured"=false
}


