# Configuration file

general {

    drops {
        # If Flax Crop should always drop seed no matter it's age.
        B:"Always Drop Seeds"=false

        # Chance for fully-grown flax crops to drop Exquisite Flax Blossoms.
        # Min: 0.0
        # Max: 1.0
        D:"Flax Exquisite Drop"=0.2

        # Chance for fully-grown flax crops to drop Pale Flax Blossoms.
        # Min: 0.0
        # Max: 1.0
        D:"Flax Pale Drop"=0.4

        # Chance for fully-grown flax crops to drop Flax Stalks.
        # Min: 0.0
        # Max: 1.0
        D:"Flax Stalk Drop"=1.0

        # Maximum number of bonus Flax Stalks that can drop from a fully-grown flax crop.
        # Min: 0
        # Max: 2147483647
        I:"Flax Stalk Drop Bonus"=2

        # Number of guaranteed Flax Stalks that should drop from a fully-grown flax crop.
        # Min: 0
        # Max: 2147483647
        I:"Flax Stalk Drop Fixed"=1

        # Chance for fully-grown flax crops to drop Vibrant Flax Blossoms.
        # Min: 0.0
        # Max: 1.0
        D:"Flax Vibrant Drop"=0.2

        # Chance of Raw Plant Fibers drop when player breaks Tall Grass.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Plant Fibers Drop"=0.2

        # Replace Cobwebs drop with Silk Wisps
        B:"Silk Wisps Drop"=false
    }

    featherbundle {
        # The fall-distance threshold, in blocks, beyond which falling upon a feather bundle block will cause it to break.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Break Treshold"=0.8

        # The flat amount of effective fall distance reduction applied by landing on a bundled feather block.
        # The formula used is (EffectiveDistance) = (RealDistance) * (1.0 - (Reduction))
        # Therefore, a value of 0.3 will reduce the effective fall distance by 30%.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Fall Damage Reduction"=0.2

        # Walking speed multiplication when player walks on it
        # Works like soul sand
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Walking Speed"=0.6
    }

    cushions {
        # The flat amount of effective fall distance reduction applied by landing on a bundled feather block.
        # The formula used is (EffectiveDistance) = (RealDistance) * (1.0 - (Reduction))
        # Therefore, a value of 0.3 will reduce the effective fall distance by 30%.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Fall Damage Reduction"=0.4

        # Walking speed multiplication when player walks on it
        # Works like soul sand
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Walking Speed"=0.8
    }

    fibers {
        # Furnace Fuel Amount for Fiber Bales
        I:"Furnace Fuel Amount"=200

        # Max amount of Twine drop from Retted Fibers
        # Min: 0
        # Max: 2147483647
        I:"Max Twine Drop"=2

        # Chance of Raw Fibers updating itself to slowly turn into Retted Fibers
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Update Chance"=0.1

        # Update delay in seconds
        # Min: 1
        # Max: 2147483647
        I:"Update Delay"=15
    }

    fabric {
        # Furnace Fuel Amount for Fabrics
        I:"Furnace Fuel Amount"=50
    }

    sack {
        # Should sacks be falling blocks (like sand)?
        B:Gravity=true

        # The amount of damage dealt, per non-empty inventory slot, per block fallen, by falling sacks.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Gravity Damage"=0.2

        # Allows bundle-like interaction with the sack in the inventory.
        B:"Inventory Interaction"=true

        # How many columns of slots should the sack have?
        # Reducing this may cause existing sacks to delete items!
        # Min: 1
        # Max: 9
        I:"Slot Column Count"=3

        # How many rows of slots should the sack have?
        # Reducing this may cause existing sacks to delete items!
        # Min: 1
        # Max: 3
        I:"Slot Row Count"=3
    }

    overencumbrance {
        # Enables a movement-slowing effect when the player is holding too many "heavy" items.
        B:"Enable Overencumbrance"=true

        # Should items with inventories only be considered heavy if they contain at least one item?
        B:"Inventories Light When Empty"=true

        # A list of custom item weights.
        # Each line should be of the form: <item_id>[:<metadata>]=<weight>
        S:"Item Weights" <
            textiles:sack=1
            textiles:basket=2
            jsonlootbags:wooden_cache=2
            jsonlootbags:raiders_bag=2
            jsonlootbags:crude_pouch=2
            charm:crate=3
         >

        # The potion effect applied by overencumbrance.
        S:"Overencumbrance Effect"=minecraft:slowness

        # The level of the overencumbrance potion effect applied per unit of weight over the limit.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Overencumbrance Effect Potency"=1.0

        # Should the overencumbrance check include the contexts of items with inventories, like shulker boxes?
        # If the inventory item itself has a weight, then it gets added to the weight of its contents.
        B:"Search Inside Inventories"=true

        # A list of potion effects that increase a player's carry capacity by a certain amount per level.
        # Each line should be of the form: <potion_id>=<weight_per_level>
        S:"Strength Effects" <
            minecraft:strength=1
         >

        # The minimum weight at which overencumbrance applies.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Weight Threshold"=5.0
    }

    basket {
        # Allows bundle-like interaction with the basket in the inventory.
        # Only useful when the "keep inventory" setting is enabled.
        B:"Inventory Interaction"=true

        # Should the (non-sturdy) basket retain its inventory when broken?
        B:"Keep Inventory"=true

        # Should the sturdy basket retain its inventory when broken?
        B:"Keep Inventory (Sturdy)"=true
    }

}


