# Configuration file

general {
    # List of repairs, in format
    # repaireditem1,repaireditem2[...];material1,material2[...]
    # (you can use ore:item for OreDictionary entry (only for materials))
    S:repairList <
    Minecraft:diamond_axe,Minecraft:diamond_boots,Minecraft:diamond_chestplate,Minecraft:diamond_helmet,Minecraft:diamond_hoe,Minecraft:diamond_leggings,Minecraft:diamond_pickaxe,Minecraft:diamond_shovel,Minecraft:diamond_sword,Spartanweaponry:halberd_diamond,Spartanweaponry:saber_diamond,Spartanweaponry:throwing_knife_diamond,Quark:pickarang;betterwithmods:material:45.
    Atop:peridot_axe,Atop:peridot_boots,Atop:peridot_chestplate,Atop:peridot_helmet,Atop:peridot_hoe,Atop:peridot_leggings,Atop:peridot_pickaxe,Atop:peridot_shovel,Atop:peridot_sword,Spartanweaponry:boomerang_diamond,Spartanweaponry:rapier_diamond,Spartanweaponry:staff_diamond;contenttweaker:peridot_ingot.
    Atop:ruby_axe,Atop:ruby_boots,Atop:ruby_chestplate,Atop:ruby_helmet,Atop:ruby_hoe,Atop:ruby_leggings,Atop:ruby_pickaxe,Atop:ruby_shovel,Atop:ruby_sword,Spartanweaponry:greatsword_diamond,Spartanweaponry:mace_diamond,Spartanweaponry:throwing_axe_diamond;contenttweaker:ruby_ingot.
    Atop:sapphire_axe,Atop:sapphire_boots,Atop:sapphire_chestplate,Atop:sapphire_helmet,Atop:sapphire_hoe,Atop:sapphire_leggings,Atop:sapphire_pickaxe,Atop:sapphire_shovel,Atop:sapphire_sword,Spartanweaponry:hammer_diamond,Spartanweaponry:javelin_diamond,Spartanweaponry:longsword_diamond;contenttweaker:sapphire_ingot.
     >

    # If true, repairs added by this mod increase further work level cost (same as vanilla)
    B:repairsIncreaseCost=false
}


