# Configuration file

##########################################################################################################
# armor_interactions
#--------------------------------------------------------------------------------------------------------#
# Settings for how armor interacts with the Wet effect and immunity.
##########################################################################################################

armor_interactions {
    # List of armor item IDs that grant immunity to the Wet effect. [default: [minecraft:iron_helmet], [minecraft:iron_chestplate], [minecraft:iron_leggings], [minecraft:iron_boots], [minecraft:diamond_helmet], [minecraft:diamond_chestplate], [minecraft:diamond_leggings], [minecraft:diamond_boots], [minecraft:golden_helmet], [minecraft:golden_chestplate], [minecraft:golden_leggings], [minecraft:golden_boots]]
    S:"Immune Armor Item IDs" <
        minecraft:golden_helmet
        minecraft:golden_chestplate
        minecraft:golden_leggings
        minecraft:golden_boots
     >

    # List of armor material names that grant immunity to the Wet effect. [default: [iron], [diamond], [gold]]
    S:"Immune Armor Materials" <
        gold
     >

    # List of armor material names (e.g., 'leather') that trigger special Wet II/III conditions. Case sensitive. [default: [leather]]
    S:"Leather-like Armor Materials" <
        leather
     >
}


##########################################################################################################
# effects
#--------------------------------------------------------------------------------------------------------#
# Settings related to the Wet effect's duration and triggers.
##########################################################################################################

effects {
    # Wet level to apply when player is in rain without special armor (0=Wet I, 1=Wet II, 2=Wet III). Default is 0 (Wet I). [range: 0 ~ 2, default: 0]
    I:"Rain Wet Level (No special armor)"=0

    # Time in ticks a player wearing 'leather-like' armor must be submerged to get Wet III. (Default: 140 ticks = 7 seconds) [range: 20 ~ 72000, default: 140]
    I:"Time in Water for Wet III (Leather Armor)"=70

    # Duration in ticks for Wet I. (Default: 600 ticks = 30 seconds) [range: 20 ~ 72000, default: 600]
    I:"Wet 1 Duration"=800

    # Duration in ticks for Wet II. (Default: 400 ticks = 20 seconds) [range: 20 ~ 72000, default: 400]
    I:"Wet 2 Duration"=600

    # Duration in ticks for Wet III. (Default: 200 ticks = 10 seconds) [range: 20 ~ 72000, default: 200]
    I:"Wet 3 Duration"=400
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings for the Wet mod.
##########################################################################################################

general {
    # Set to true to show DRIP_WATER particles when wet, false to disable. [default: true]
    B:"Show Particles"=true
}


##########################################################################################################
# heat_sources
#--------------------------------------------------------------------------------------------------------#
# Settings for drying near heat sources.
##########################################################################################################

heat_sources {
    # Additional ticks removed from Wet effect duration each game tick when near a heat source. 0 to disable. [range: 0 ~ 100, default: 4]
    I:"Drying Speed Near Heat"=4

    # List of block IDs that act as heat sources. [default: [minecraft:fire], [minecraft:lava], [minecraft:flowing_lava], [minecraft:torch], [minecraft:lit_furnace], [minecraft:magma_block]]
    S:"Heat Source Block IDs" <
        minecraft:fire
        minecraft:lava
        minecraft:flowing_lava
        minecraft:torch
        minecraft:lit_furnace
        minecraft:magma_block
     >

    # Radius (in blocks) around the player to check for heat sources. [range: 1 ~ 10, default: 3]
    I:"Heat Source Radius"=3
}


