# Configuration file

"end city syllable pool" {
    # Prefixes that can occur before name
    # Check out https://en.wikipedia.org/wiki/List_of_Unicode_characters
    # for unicode keys.
    #  [default: [End], [Mag], [Tór na]]
    S:"Name Prefix" <
        End
        Mag
        Tór na
     >

    # Suffixes that can occur after name [default: [City]]
    S:"Name Suffix" <
        City
     >

    # First half of one-syllable name [default: [I], [Ma], [Me], [Moo], [Nó]]
    S:"One-Syllable Begin" <
        I
        Ma
        Me
        Moo
        Nó
     >

    # Second half of one-syllable name [default: [b], [g], [ll], [n], [rs]]
    S:"One-Syllable End" <
        b
        g
        ll
        n
        rs
     >

    # Transitional first syllable [default: [A], [A], [Ann], [As], [Bar], [Brah], [Cal], [Car], [Ce], [Ce], [Cha], [Di], [Dy], [E], [E], [E], [E], [En], [Eu], [Eu], [Ga], [Gai], [Hau], [Heav], [Hla], [I], [I], [Il], [In], [Ju], [Ka], [Kol], [Lu], [Ma], [Ma], [Mer], [Mi], [Mi], [Nep], [Ni], [O], [Pan], [Plu], [Pur], [Rhe], [Sar], [Sat], [Se], [Sum], [Te], [Ter], [Ti], [Tla], [Tri], [U], [Ul], [Ul], [Um], [Val], [Ve], [Yh], [Yo]]
    S:"Syllable 1 Transitional" <
        A
        A
        Ann
        As
        Bar
        Brah
        Cal
        Car
        Ce
        Ce
        Cha
        Di
        Dy
        E
        E
        E
        E
        En
        Eu
        Eu
        Ga
        Gai
        Hau
        Heav
        Hla
        I
        I
        Il
        In
        Ju
        Ka
        Kol
        Lu
        Ma
        Ma
        Mer
        Mi
        Mi
        Nep
        Ni
        O
        Pan
        Plu
        Pur
        Rhe
        Sar
        Sat
        Se
        Sum
        Te
        Ter
        Ti
        Tla
        Tri
        U
        Ul
        Ul
        Um
        Val
        Ve
        Yh
        Yo
     >

    # Terminating second syllable (use ^ for leading/ending spaces) [default: [a], [a], [dath], [den], [en], [gard], [lar], [mas], [mi], [na], [nath], [nith], [nus], [o], [ob], [ra], [res], [ris], [ron], [thar], [thys], [till], [to], [ton], [tune], [urn], [wn], [zakh]]
    S:"Syllable 2 Terminal" <
        a
        a
        dath
        den
        en
        gard
        lar
        mas
        mi
        na
        nath
        nith
        nus
        o
        ob
        ra
        res
        ris
        ron
        thar
        thys
        till
        to
        ton
        tune
        urn
        wn
        zakh
     >

    # Transitional second syllable (use ^ for leading/ending spaces) [default: [a], [ar], [ber], [bi], [bri], [ce], [cha], [co], [cu], [de], [ga], [ga], [hal], [ke], [lath], [le], [le], [lis], [lo], [ly], [ly], [ma], [me], [mer], [ny], [o], [pi], [ra], [ran], [re], [ri], [ro], [ta], [ti]]
    S:"Syllable 2 Transitional" <
        a
        ar
        ber
        bi
        bri
        ce
        cha
        co
        cu
        de
        ga
        ga
        hal
        ke
        lath
        le
        le
        lis
        lo
        ly
        ly
        ma
        me
        mer
        ny
        o
        pi
        ra
        ran
        re
        ri
        ro
        ta
        ti
     >

    # Terminating third syllable (use ^ for leading/ending spaces) [default: [-Leen], [a], [can], [da], [el], [el], [ka], [la], [land], [mede], [ne], [ne], [nek], [nok], [non], [nus], [on], [pa], [ru], [ry], [sa], [ter], [to], [tron]]
    S:"Syllable 3 Terminal" <
        -Leen
        a
        can
        da
        el
        el
        ka
        la
        land
        mede
        ne
        ne
        nek
        nok
        non
        nus
        on
        pa
        ru
        ry
        sa
        ter
        to
        tron
     >

    # Transitional third syllable (use ^ for leading/ending spaces) [default: [la], [ma], [me], [mo], [ni], [pe], [pha], [pu], [si], [to]]
    S:"Syllable 3 Transitional" <
        la
        ma
        me
        mo
        ni
        pe
        pha
        pu
        si
        to
     >

    # Terminating fourth syllable (use ^ for leading/ending spaces) [default: [a], [cia], [dus], [ïs], [ke], [ra], [ry], [tus], [um]]
    S:"Syllable 4 Terminal" <
        a
        cia
        dus
        ïs
        ke
        ra
        ry
        tus
        um
     >

    # Transitional fourth syllable (use ^ for leading/ending spaces) [default: [ni]]
    S:"Syllable 4 Transitional" <
        ni
     >

    # Terminating fifth syllable (use ^ for leading/ending spaces) [default: [um]]
    S:"Syllable 5 Terminal" <
        um
     >

    # Transitional fifth syllable (use ^ for leading/ending spaces) [default: ]
    S:"Syllable 5 Transitional" <
     >

    # Terminating sixth syllable (use ^ for leading/ending spaces) [default: ]
    S:"Syllable 6 Terminal" <
     >

    # Transitional sixth syllable (use ^ for leading/ending spaces) [default: ]
    S:"Syllable 6 Transitional" <
     >

    # Terminating seventh syllable (use ^ for leading/ending spaces) [default: ]
    S:"Syllable 7 Terminal" <
     >
}


