# Configuration file

##########################################################################################################
# custom objects
#--------------------------------------------------------------------------------------------------------#
# here you can add your own custom items! These items wont do anything and will have no crafting recipes you can however have them drop from mobs by adding them to the custom mob drops. To add items just create a comma seperated list of names (spaces will be removed), you will need to use the item.youritem.name and item.youritem.description lang file entries in your resource pack to name your item and you will also need to save a texture for your item as: assets/lycanitesmobs/items/youritem.png
##########################################################################################################

"custom objects" {
    S:"Custom Items"=
}


##########################################################################################################
# item lists
#--------------------------------------------------------------------------------------------------------#
# Here you can add items from vanilla Minecraft or other mods to various lists used by this mod. These are mostly food items that can be fed to farmable/tameable mobs. Format is: mod:itemname,metadata Multiple entries should be semicolon separated, be sure to use a colon and semicolon in the correct place.
##########################################################################################################

"item lists" {
    S:cactusfood=
    S:cookedfish=
    S:cookedmeat=
    S:fuel=
    S:halloween_treats=
    S:mushrooms=
    S:rawfish=
    S:rawmeat=
    S:sweets=
    S:vegetables=
    S:winter_gifts=
}


