# Configuration file

##########################################################################################################
# global
#--------------------------------------------------------------------------------------------------------#
# These are various settings that apply to all events.
##########################################################################################################

global {
    # Maximum time in ticks until a random event can occur. 20 Ticks = 1 Second.
    I:"Default Max Ticks Until Random Event"=144000

    # Minimum time in ticks until a random event can occur. 20 Ticks = 1 Second.
    I:"Default Min Ticks Until Random Event"=72000

    # The default temporary time applied to mobs spawned from events, where it will forcefully despawn after the specified time (in ticks). MobSpawns can override this.
    I:"Default Mob Duration"=12000

    # If random events are enabled, they wont occur until this day is reached. Set to 0 to have random events enabled from the start of a world.
    I:"Default Random Mob Events Day Minimum"=0

    # Set to false to completely disable the entire event system for every world.
    B:"Mob Events Enabled"=true

    # Set to false to disable random mob events for every world.
    B:"Random Mob Events Enabled"=false
}


