#Sets the DimensionDefinition object for dimension 0 and stores it as a variable
dimension0 = setDimensionDefinition(0)

#Sets the BiomeProvider to be used for the dimension to be of type "Single" and use biome "sky"
dimension0.setBiomeProviderSingle("desert")