# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        cincinnasite_sconce.json
        cincinnasite_sconce_arch.json
        cincinnasite_spire.json
        raktan_sconce.json
        quartz_lamp.json
        raktan_lantern.json
        greatbrick_red_granite.json
        mason_pick.json
        cultivation.json
        miscellaneous.json
        stone_creation_disintegration.json
        nailed_planks.json
        structure_fabricator.json
        loose_bricks.json
        bricks.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=true
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


